<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    {% load static %}
    <script src="{% static "js/analytics.js" %}"></script>

    <script>
        ga('create', 'UA-100852681-1');
        ga('require', 'ec');
        ga('set', 'currencyCode', '{{ request.session.currency }}');

        var name = 'Ugram Basic ' + {{ request.session.months }} +' months';
        ga('ec:addProduct', {
            'name': name,
            'price': ''
        });

        var id = new Date().getTime();
        ga('ec:setAction', 'purchase', {
            'id': '\'' + id + '\'',
            'revenue': '{{ request.session.amount }}'
        });

        ga('send', 'pageview');

        setTimeout(function () {
            window.location.href = '/app'
        }, 15000);

        {#        function ready() {#}
        {#            window.location.href = '//ugram.co/app'#}
        {#        }#}
        {#        document.addEventListener("DOMContentLoaded", ready);#}
    </script>
</head>
<body>
Мы обрабатываем транзакцию... <br/>
Вы сможете пользоваться uGram, как только оплата будет успешно обработана. <br/>
По всем вопросам <a href="mailto:support@ugram.co">support@ugram.co</a> <br/>
<a href="/app">К сервису</a>
</body>
</html>