<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Orion - Portal">
    <meta name="application-name" content="uGram {{ request.user.language }}">
    <meta http-equiv="cleartype" content="on">

    <title>Массфоловинг | uGram</title>
    <link rel="stylesheet" href="{% static "css/service.css" %}">

    <link rel="stylesheet" href="{% static "css/material-icons.css" %}">
{#    {% include "material-icons.html" %}#}

    <link rel="stylesheet" href="{% static "angular-material-sidemenu/dest/angular-material-sidemenu.css" %}">

    <link rel="stylesheet" href="{% static "angular-material/angular-material.min.css" %}">
    <link rel="stylesheet" href="{% static "angular-material-data-table/dist/md-data-table.min.css" %}">

    <script src="{% static "angular/angular.min.js" %}"></script>
    <script src="{% static "angular-cookies/angular-cookies.min.js" %}"></script>
    <script src="{% static "angular-aria/angular-aria.min.js" %}"></script>
    <script src="{% static "angular-animate/angular-animate.min.js" %}"></script>
    <script src="{% static "angular-route/angular-route.min.js" %}"></script>
    <script src="{% static "angular-messages/angular-messages.min.js" %}"></script>
    <script src="{% static "angular-material/angular-material.min.js" %}"></script>
    <script src="{% static "angular-material-sidemenu/dest/angular-material-sidemenu.js" %}"></script>
    <script src="{% static "angular-material-data-table/dist/md-data-table.min.js" %}"></script>
    <script src="{% static "angular-translate/angular-translate.min.js" %}"></script>

    <script src="{% static "js/service.js" %}"></script>

    <script src="{% static "js/analytics.js" %}"></script>

    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="//ugram.co/icons/apple-touch-icon-57x57.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="//ugram.co/icons/apple-touch-icon-114x114.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="//ugram.co/icons/apple-touch-icon-72x72.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="//ugram.co/icons/apple-touch-icon-144x144.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="//ugram.co/icons/apple-touch-icon-60x60.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="//ugram.co/icons/apple-touch-icon-120x120.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="//ugram.co/icons/apple-touch-icon-76x76.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="//ugram.co/icons/apple-touch-icon-152x152.png"/>
    <link rel="icon" type="image/png" href="//ugram.co/icons/favicon-196x196.png" sizes="196x196"/>
    <link rel="icon" type="image/png" href="//ugram.co/icons/favicon-96x96.png" sizes="96x96"/>
    <link rel="icon" type="image/png" href="//ugram.co/icons/favicon-32x32.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href="//ugram.co/icons/favicon-16x16.png" sizes="16x16"/>
    <link rel="icon" type="image/png" href="//ugram.co/icons/favicon-128.png" sizes="128x128"/>
    <meta name="application-name" content="&nbsp;"/>
    <meta name="msapplication-TileColor" content="#FFFFFF"/>
    <meta name="msapplication-TileImage" content="mstile-144x144.png"/>
    <meta name="msapplication-square70x70logo" content="mstile-70x70.png"/>
    <meta name="msapplication-square150x150logo" content="mstile-150x150.png"/>
    <meta name="msapplication-wide310x150logo" content="mstile-310x150.png"/>
    <meta name="msapplication-square310x310logo" content="mstile-310x310.png"/>
</head>

<body>
<div class="header-main" ng-controller="HeaderCtrl as ctrl" layout="column" ng-init="setIp({{ request.user.language }})"
     ng-app="HeaderApp">
    {% csrf_token %}
    <md-toolbar class="main-header md-whiteframe-3dp">
        <div class="md-toolbar-tools md-header-toolbar">
            <div>
                <md-button ng-click="toggleLeft()" class="md-fab md-primary md-header-fab" hide-gt-sm="">
                    <md-icon class="material-icons header-burger">menu</md-icon>
                </md-button>
            </div>
            <md-menu class="account-list-menu">
                <md-button id="account-button" ng-init="checkInstagramAccounts();"
                           ng-click="checkInstagramAccounts();$mdMenu.open($event)"
                           aria-label="Change account" layout="row" ng-show="instagramAccounts.length">
                    <label id="current_account" ng-hide="current_account">{{ request.session.current_account }}</label>
                    {% verbatim %}
                    <label id="current_account" ng-show="current_account">{{ current_account }}</label>
                    {% endverbatim %}
                    <md-icon style="margin: 0px !important">arrow_drop_down</md-icon>
                </md-button>
                <md-menu-content ng-show="instagramAccounts.length">
                    <md-menu-item ng-repeat="account in instagramAccounts">
                        {% verbatim %}
                        <md-button class="account-item" ng-click="setCurrentAccount(account);">{{ account }}</md-button>
                        {% endverbatim %}
                    </md-menu-item>
                    <md-divider md-inset style="margin: 0 !important;"></md-divider>
                    <md-menu-item>
                        <md-button id="addAccount" class="account-list-menu-button add-account"
                                   aria-label="Add new account" layout="row" ng-click="addInstagram()">
                            <md-icon>add_circle</md-icon>
                            {% verbatim %}
                            <label class="account-list-menu-label">{{ 'ACCOUNT_MANAGEMENT.ADD_ACCOUNT' |
                                translate}}</label>
                            {% endverbatim %}
                        </md-button>
                    </md-menu-item>

                </md-menu-content>

                <md-button id="addAccount" class="account-list-menu-button add-account" aria-label="Add new account"
                           layout="row"
                           ng-hide="instagramAccounts.length" ng-click="addInstagram()">
                    <md-icon>add_circle</md-icon>
                    {% verbatim %}
                    <label class="account-list-menu-label">{{ 'ACCOUNT_MANAGEMENT.ADD_ACCOUNT' | translate}}</label>
                    {% endverbatim %}
                </md-button>
            </md-menu>
        </div>
    </md-toolbar>

    <section layout="row" flex="">

        <md-sidenav id="header-menu" class="md-sidenav-left" md-component-id="left"
                    md-is-locked-open="$mdMedia('gt-sm')"
                    md-whiteframe="4">

            <md-content class="zero-padding" layout-padding="" ng-controller="LeftCtrl">

                {% verbatim %}
                <div class="sidemenu zero-padding">
                    <div class="main-container" layout="row" flex>
                        <md-sidenav class="main-sidenav md-sidenav-left" md-component-id="navigation-drawer"
                                    md-is-locked-open="true" layout="column">
                            <md-content md-scroll-y flex layout="column">
                                <md-sidemenu flex>
                                    <md-sidemenu-group>
                                        <md-sidemenu-content md-icon="access_time"
                                                             md-heading="{{ 'MENU.DASHBOARD' | translate}}"
                                                             md-arrow="true"
                                                             ng-click="showDashboard()"></md-sidemenu-content>
                                        <!--TODO add pricing page-->
                                        <md-sidemenu-content md-icon="shopping_cart"
                                                             md-heading="{{ 'MENU.PLANS' | translate}}"
                                                             md-arrow="true"
                                                             {% endverbatim %}
                                                             onclick="window.location.href = '/pricing'"
                                                             {% verbatim %}>
                                        </md-sidemenu-content>
                                        <md-divider></md-divider>
                                    </md-sidemenu-group>
                                    <md-sidemenu-group>
                                        <md-sidemenu-content md-icon="settings"
                                                             md-heading="{{ 'MENU.SETTINGS' | translate}}"
                                                             md-arrow="true" ng-click="showSettings()">
                                        </md-sidemenu-content>
                                        <md-sidemenu-content md-icon="help"
                                                             md-heading="{{ 'MENU.HELP' | translate}}"
                                                             md-arrow="true"></md-sidemenu-content>
                                    </md-sidemenu-group>
                                    <md-sidemenu-group>
                                        <md-divider></md-divider>
                                        <md-sidemenu-content md-icon="feedback"
                                                             md-heading="{{ 'MENU.SENDFEEDBACK' | translate}}"
                                                             md-arrow="true"
                                                             ng-click="sendFeedback()"
                                        ></md-sidemenu-content>
                                        <md-sidemenu-content md-icon="exit_to_app"
                                                             md-heading="{{ 'MENU.SIGNOUT' | translate}}"
                                                             md-arrow="true" onclick="window.location = '/signout/'">
                                        </md-sidemenu-content>
                                    </md-sidemenu-group>
                                    <md-sidemenu-group class="service-menu">
                                        <div class="center">
                                            <a href="//ugram.co/terms">{{ 'MENU.TERMSOFSERVICE' | translate}}</a>
                                            <a href="//ugram.co/faq">{{ 'MENU.FAQ' | translate}}</a>
                                            <a href="//ugram.co/privacy">{{ 'MENU.PRIVACYPOLICY' | translate}}</a>
                                        </div>
                                        <div class="center">
                                            <a href="//ugram.co">{{ 'MENU.ABOUT' | translate}}</a>
                                            <a href="#">Русский</a>
                                            <!--<md-input-container class="language">
                                                <md-select ng-model="language">
                                                    <md-option ng-click="setLanguage(l)" ng-repeat="l in languages"
                                                               ng-value="l">{{
                                                        getNameOfLanguage(l) }}
                                                    </md-option>
                                                </md-select>
                                            </md-input-container>-->
                                            <md-icon id="language">language</md-icon>
                                        </div>
                                    </md-sidemenu-group>
                                </md-sidemenu>
                            </md-content>
                        </md-sidenav>
                    </div>
                </div>
                {% endverbatim %}

            </md-content>

        </md-sidenav>

        <md-content id="loader" class="gr flexbox-parent" style="width: 100%; height: 100%">
            <md-progress-circular layout="row" layout-align="center center"
                                  class="center-verticaly center-horizontally"
                                  md-mode="indeterminate"></md-progress-circular>
        </md-content>

        <md-content flex layout-padding style="display: none" id="content-dashboard">
            {% verbatim %}
            <md-whiteframe class="md-whiteframe-1dp" layout="column">

                <!--<pre>{{ dashboard | json }}</pre>-->

                <form name="dashboard" layout="column" ng-submit="submitDashboard()"
                      ng-init="isDashboardDisabled = true;checkActivity()">

                    <!--<pre> start {{ isDashboardDisabled}} {{startButtonDisabled }} -> | {{ isDashboardDisabled || startButtonDisabled}}</pre>
                    <pre> stop {{ !isDashboardDisabled}} {{stopButtonDisabled}} -> | {{ !isDashboardDisabled || startButtonDisabled }}</pre>-->


                    <section layout="row">
                        <section>
                            <md-button class="md-raised md-primary" type="submit"
                                       ng-disabled="isDashboardDisabled || startButtonDisabled">
                                <md-icon>play_arrow</md-icon>
                                <span>{{ 'DASHBOARD.BUTTONS.START' | translate}}</span></md-button>
                            <md-button class="md-raised"
                                       ng-click="stopActivity()"
                                       ng-disabled="!isDashboardDisabled || stopButtonDisabled">

                                <md-icon>stop</md-icon>
                                <span>{{ 'DASHBOARD.BUTTONS.STOP' | translate}}</span></md-button>
                        </section>
                        <span flex></span>
                        <section layout="row">
                            <label id="tips" hide-xs>{{ 'DASHBOARD.BUTTONS.TIPS' | translate}}</label>
                            <md-switch ng-model="tooltips" class="md-primary" md-no-ink
                                       aria-label="Turn on/turn off tooltips"
                                       ng-click="showToast(!tooltips ? 'Show tips' : 'Hide tips')">
                            </md-switch>
                        </section>
                    </section>


                    <section ng-click="showMessageIfDashBoarDisabled()" class="content-section" layout="column"
                             layout-gt-xs="row">

                        <md-content class="md-padding" flex layout="column">
                            <h3 class="md-subhead">
                                <md-icon>people</md-icon>
                                {{ 'DASHBOARD.FOLLOWS.TITLE' | translate}}
                            </h3>
                            <section layout="flex" flex-gt-xs="row">
                                <md-input-container class="md-block">
                                    <md-tooltip md-direction="top" ng-show="tooltips">
                                        {{'DASHBOARD.FOLLOWS.FOLLOWS_PER_HOUR.TOOLTIP' | translate}}
                                    </md-tooltip>
                                    <label>{{ 'DASHBOARD.FOLLOWS.FOLLOWS_PER_HOUR.TITLE' | translate}}</label>
                                    <input type="number"
                                           step="any"
                                           name="followsPerHour"
                                           ng-model="template.followsPerHour"
                                           ng-value="template.followsPerHour"
                                           min="0" max="50"
                                           required
                                           ng-pattern="/^\d+$/" ng-disabled="isDashboardDisabled"/>

                                    <div md-auto-hide="false" ng-messages="dashboard.followsPerHour.$error">

                                        <div ng-message="min">
                                        </div>

                                        <div ng-message="max">
                                            {{ 'DASHBOARD.ERRORS.BAN' | translate}}
                                        </div>

                                        <div ng-message="pattern">
                                            {{ 'DASHBOARD.ERRORS.NUMBERS' | translate}}

                                        </div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <md-tooltip md-direction="top" ng-show="tooltips">
                                        {{ 'DASHBOARD.FOLLOWS.UNFOLLOWS_PER_HOUR.TOOLTIP' | translate}}
                                    </md-tooltip>
                                    <label>{{ 'DASHBOARD.FOLLOWS.UNFOLLOWS_PER_HOUR.TITLE' | translate}}</label>
                                    <input required
                                           type="number" step="any" name="unfollowsPerHour"
                                           ng-model="template.unfollowsPerHour"
                                           ng-value="template.unfollowsPerHour"
                                           min="0" max="20"
                                           ng-pattern="/^\d+$/" ng-disabled="isDashboardDisabled"/>

                                    <div md-auto-hide="false" ng-messages="dashboard.unfollowsPerHour.$error">

                                        <div ng-message="min">
                                        </div>

                                        <div ng-message="max">
                                            {{ 'DASHBOARD.ERRORS.BAN' | translate}}
                                        </div>

                                        <div ng-message="pattern">
                                            {{ 'DASHBOARD.ERRORS.NUMBERS' | translate}}
                                        </div>
                                    </div>
                                </md-input-container>

                            </section>
                            <section layout="column" layout-gt-xs="row">
                                <md-input-container class="md-block">
                                    <md-tooltip md-direction="top" ng-show="tooltips">
                                        {{ 'DASHBOARD.FOLLOWS.FOLLOW_TIME.TOOLTIP' | translate}}
                                    </md-tooltip>
                                    <label>{{ 'DASHBOARD.FOLLOWS.FOLLOW_TIME.TITLE' | translate}}</label>
                                    <input
                                            type="number" step="any" name="followTime"
                                            ng-model="template.followTime"
                                            ng-value="template.followTime"
                                            min="0"
                                            ng-pattern="/^\d+$/" ng-disabled="isDashboardDisabled"/>

                                    <div md-auto-hide="false" ng-messages="dashboard.followTime.$error">

                                        <div ng-message="min">
                                        </div>

                                        <div ng-message="pattern">
                                            {{ 'DASHBOARD.ERRORS.VALUE' | translate}}
                                        </div>
                                    </div>
                                </md-input-container>
                                <span></span>
                                <md-input-container class="md-block" id="mode">
                                    <md-tooltip md-direction="top" ng-show="tooltips">{{ modeTip(template.mode) }}
                                    </md-tooltip>
                                    <label> {{ 'DASHBOARD.FOLLOWS.MODES.TITLE' | translate}}</label>
                                    <md-select name="mode"
                                               ng-model="template.mode"
                                               ng-value="template.mode"
                                               ng-disabled="isDashboardDisabled"
                                               required>
                                        <md-option ng-repeat="mode in botModes" ng-value="mode[0]"
                                                   ng-click="modeIndex = mode[0]">
                                            {{ mode[1] }}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </section>
                        </md-content>
                        <md-content class="md-padding" flex layout="column">
                            <h3 class="md-subhead">
                                <md-icon>favorite</md-icon>
                                {{ 'DASHBOARD.LIKES.TITLE' | translate}}
                            </h3>
                            <section layout="flex" flex-gt-xs="row">
                                <md-input-container class="md-block">
                                    <md-tooltip md-direction="top" ng-show="tooltips">{{
                                        'DASHBOARD.LIKES.LIKES_PER_HOUR.TOOLTIP' | translate}}
                                    </md-tooltip>
                                    <label>{{ 'DASHBOARD.LIKES.LIKES_PER_HOUR.TITLE' | translate}}</label>
                                    <input required
                                           type="number" step="any" name="likesPerHour"
                                           ng-model="template.likesPerHour"
                                           ng-value="template.likesPerHour"
                                           min="0" max="50"
                                           ng-pattern="/^\d+$/" ng-disabled="isDashboardDisabled"/>

                                    <div md-auto-hide="false" ng-messages="dashboard.likesPerHour.$error">

                                        <div ng-message="min">
                                        </div>

                                        <div ng-message="max">
                                            {{ 'DASHBOARD.ERRORS.BAN' | translate}}
                                        </div>

                                        <div ng-message="pattern">
                                            {{ 'DASHBOARD.ERRORS.NUMBERS' | translate}}
                                        </div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <md-tooltip md-direction="top" ng-show="tooltips">{{
                                        'DASHBOARD.LIKES.LIKES_PER_TAG.TOOLTIP' | translate}}
                                    </md-tooltip>
                                    <label>{{ 'DASHBOARD.LIKES.LIKES_PER_TAG.TITLE' | translate}}</label>
                                    <input required
                                           type="number" step="any" name="likesPerTag"
                                           ng-model="template.likesPerTag"
                                           ng-value="template.likesPerTag"
                                           min="0"
                                           max="21"
                                           ng-pattern="/^\d+$/" ng-disabled="isDashboardDisabled"/>

                                    <div md-auto-hide="false" ng-messages="dashboard.likesPerTag.$error">

                                        <div ng-message="min">
                                        </div>

                                        <div ng-message="max">
                                            {{ 'DASHBOARD.ERRORS.BAN' | translate}}
                                        </div>

                                        <div ng-message="pattern">
                                            {{ 'DASHBOARD.ERRORS.NUMBERS' | translate}}
                                        </div>
                                    </div>
                                </md-input-container>

                            </section>
                            <section layout="flex" flex-gt-xs="row">
                                <md-input-container class="md-block">
                                    <md-tooltip md-direction="top" ng-show="tooltips">{{
                                        'DASHBOARD.LIKES.POST_MIN_LIKES.TOOLTIP' | translate}}
                                    </md-tooltip>
                                    <label>{{ 'DASHBOARD.LIKES.POST_MIN_LIKES.TITLE' | translate}}</label>
                                    <input
                                            type="number" step="any" name="minMediaLike"
                                            ng-model="template.minMediaLike"
                                            ng-value="template.minMediaLike"
                                            min="0"
                                            ng-pattern="/^\d+$/" ng-disabled="isDashboardDisabled"/>

                                    <div md-auto-hide="false" ng-messages="dashboard.minMediaLike.$error">

                                        <div ng-message="min">
                                        </div>

                                        <div ng-message="pattern">
                                            {{ 'DASHBOARD.ERRORS.NUMBERS' | translate}}
                                        </div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <md-tooltip md-direction="top" ng-show="tooltips">{{
                                        'DASHBOARD.LIKES.POST_MAX_LIKES.TOOLTIP' | translate}}
                                    </md-tooltip>
                                    <label>{{ 'DASHBOARD.LIKES.POST_MAX_LIKES.TITLE' | translate}}</label>
                                    <input
                                            type="number" step="any" name="maxMediaLike"
                                            ng-model="template.maxMediaLike"
                                            ng-value="template.maxMediaLike"
                                            min="0"
                                            ng-pattern="/^\d+$/" ng-disabled="isDashboardDisabled"/>

                                    <div md-auto-hide="false" ng-messages="dashboard.maxMediaLike.$error">

                                        <div ng-message="min">
                                        </div>

                                        <div ng-message="pattern">
                                            {{ 'DASHBOARD.ERRORS.NUMBERS' | translate}}
                                        </div>
                                    </div>
                                </md-input-container>
                            </section>
                        </md-content>

                    </section>
                    <section ng-click="showMessageIfDashBoarDisabled()" class="content-section" layout="column"
                             layout-gt-xs="row">

                        <md-content class="md-padding" flex layout="column">

                            <h3 class="md-subhead">
                                <md-icon>comment</md-icon>
                                {{ 'DASHBOARD.COMMENTS.TITLE' | translate}}
                            </h3>
                            <md-chips
                                    class="chips"
                                    ng-model="comments"
                                    name="comments"
                                    md-enable-chip-edit="true" md-enable-chip-edit="true"
                                    md-separator-keys="separatorsOfTags"
                                    placeholder="{{ 'DASHBOARD.COMMENTS.ADD_COMMENT' | translate}}"
                                    secondary-placeholder="{{ 'DASHBOARD.COMMENTS.ADD_MORE_COMMENTS' | translate}}"
                                    readonly="isDashboardDisabled">
                            </md-chips>
                            <md-input-container id="comments" class="md-block">
                                <md-tooltip md-direction="top" ng-show="tooltips">{{
                                    'DASHBOARD.COMMENTS.COMMENTS_PER_HOUR.TOOLTIP' | translate}}
                                </md-tooltip>
                                <label>{{ 'DASHBOARD.COMMENTS.COMMENTS_PER_HOUR.TITLE' | translate}}</label>
                                <input required
                                       type="number" step="any" name="commentsPerHour"
                                       ng-model="template.commentsPerHour"
                                       ng-value="template.commentsPerHour"
                                       min="0" max="10"
                                       ng-pattern="/^\d+$/" ng-disabled="isDashboardDisabled"/>

                                <div md-auto-hide="false" ng-messages="dashboard.commentsPerHour.$error">

                                    <div ng-message="min">
                                    </div>

                                    <div ng-message="max">
                                        {{ 'DASHBOARD.ERRORS.BAN' | translate}}
                                    </div>

                                    <div ng-message="pattern">
                                        {{ 'DASHBOARD.ERRORS.NUMBERS' | translate}}
                                    </div>
                                </div>
                            </md-input-container>


                        </md-content>
                        <md-content class="md-padding" flex layout="column">

                            <h3 class="md-subhead">
                                <md-icon>label</md-icon>
                                {{ 'DASHBOARD.TAGS.TITLE' | translate}}
                            </h3>
                            <md-chips
                                    class="chips"
                                    ng-model="tags"
                                    name="tags"
                                    md-enable-chip-edit="true" md-enable-chip-edit="true" md-separator-keys="separators"
                                    placeholder="{{ 'DASHBOARD.TAGS.ADD_TAG' | translate}}"
                                    secondary-placeholder="{{ 'DASHBOARD.TAGS.ADD_MORE_TAGS' | translate}}"
                                    readonly="isDashboardDisabled">
                            </md-chips>
                            <md-chips
                                    class="chips"
                                    ng-model="tagBlackList"
                                    md-enable-chip-edit="true" md-enable-chip-edit="true" md-separator-keys="separators"
                                    placeholder="{{ 'DASHBOARD.TAGS.ADD_IGNORE_TAG' | translate}}"
                                    secondary-placeholder="{{ 'DASHBOARD.TAGS.ADD_MORE_IGNORE_TAGS' | translate}}"
                                    readonly="isDashboardDisabled"
                                    style="margin-top: 6px"
                            >

                            </md-chips>
                        </md-content>

                    </section>
                    <section ng-click="showMessageIfDashBoarDisabled()" id="userblacklist-schedule"
                             class="content-section" layout="column" layout-gt-xs="row">

                        <md-content class="md-padding" flex layout="column">
                            <h3 class="md-subhead">
                                <md-icon>block</md-icon>
                                {{ 'DASHBOARD.USERBLACKLIST.TITLE' | translate}}
                            </h3>
                            <md-chips
                                    ng-model="usernameBlacklist"
                                    name="usernameBlacklist"
                                    md-enable-chip-edit="true" md-enable-chip-edit="true" md-separator-keys="separators"
                                    placeholder="{{ 'DASHBOARD.USERBLACKLIST.ADD_IGNORE_USER' | translate}}"
                                    secondary-placeholder="{{ 'DASHBOARD.USERBLACKLIST.ADD_MORE_IGNORE_USER' | translate}}"
                                    readonly="isDashboardDisabled">
                            </md-chips>
                        </md-content>

                    </section>
                </form>
            </md-whiteframe>
            {% endverbatim %}
        </md-content>

        <md-content flex layout-padding id="content-dashboard-empty" style="display: none">
            <div class="center-ver" layout="column" layout-align="center center">
                {% verbatim %}
                {{ 'FIRST_TUTORIAL.DASHBOARD_TITLE' | translate}}
                <md-button id="addAccount" class="add-account add-account-tutorial"
                           aria-label="Add new account" layout="row" ng-click="addInstagram()">
                    <label class="account-list-menu-label">{{ 'ACCOUNT_MANAGEMENT.ADD_ACCOUNT' |
                        translate}}</label>
                </md-button>
                {% endverbatim %}
            </div>
        </md-content>

        <md-content flex layout-padding id="content-dashboard-expired" class="gr zero-padding" style="display: none">
            <div class="center-ver zero-padding pricing-width" layout="column" id="pricing">
                {% verbatim %}

                <div class="pricing-table center-verticaly tablet-desktop">
                    <ul class="pricing md-whiteframe-1dp clmns base">
                        <!--TODO 100% fix display on ipad pro. Fix table.-->
                        <li class="header" layout="column">
                            <label class="title">{{ 'PLANS.TITLES.BASE' | translate }}</label>
                            <label class="price"><span class="bold value">{{ prices[1][0] }}</span> / {{
                                'PLANS.MONTHS.1' |
                                translate }}</label>
                        </li>
                        <li class="item">
                            <md-icon>update</md-icon>
                            <label>{{ 'PLANS.FUNCTIONS.UNLIMITED_USAGE' | translate }}</label>
                        </li>
                        <li class="item">
                            <md-icon>people</md-icon>
                            <label>{{ 'PLANS.FUNCTIONS.UNLIMITED_FOLLOWS' | translate }}</label>
                        </li>
                        <li class="item">
                            <md-icon>favorite</md-icon>
                            <label>{{ 'PLANS.FUNCTIONS.UNLIMITED_LIKES' | translate }}</label>
                        </li>
                        <li class="item">
                            <md-icon>comment</md-icon>
                            <label>{{ 'PLANS.FUNCTIONS.UNLIMITED_COMMENTS' | translate }}</label>
                        </li>
                        <li class="item">
                            <md-icon>question_answer</md-icon>
                            <label>{{ 'PLANS.FUNCTIONS.BASE_SUPPORT' | translate }}</label>
                        </li>
                        <li class="subheader">
                            <!--<a href="#" class="button">Sign Up</a>-->
                            <md-button class="add-account add-account-tutorial-inverse button"
                                       href="/acquiring/checkout/?username={% endverbatim %}{{ request.session.current_account }}{% verbatim %}&months=1&currency={{ prices[0] }}">
                                {{ 'PLANS.FUNCTIONS.UPDATE' | translate }}
                            </md-button>
                        </li>
                    </ul>
                    <ul class="pricing md-whiteframe-1dp clmns pro">
                        <li class="header" layout="column">
                            <label class="title">{{ 'PLANS.TITLES.PRO' | translate }}</label>
                            <label class="price"><span class="bold value">{{ prices[1][1] }}</span> / <b>2</b> {{
                                'PLANS.MONTHS.2' |
                                translate }}</label>
                        </li>
                        <li class="item">
                            <md-icon>done_all</md-icon>
                            <label>{{ 'PLANS.FUNCTIONS.BETA_FEATURES' | translate }}</label>
                        </li>
                        <li class="item">
                            <md-icon>update</md-icon>
                            <label>{{ 'PLANS.FUNCTIONS.UNLIMITED_USAGE' | translate }}</label>
                        </li>
                        <li class="item">
                            <md-icon>people</md-icon>
                            <label>{{ 'PLANS.FUNCTIONS.UNLIMITED_FOLLOWS' | translate }}</label>
                        </li>
                        <li class="item">
                            <md-icon>favorite</md-icon>
                            <label>{{ 'PLANS.FUNCTIONS.UNLIMITED_LIKES' | translate }}</label>
                        </li>
                        <li class="item">
                            <md-icon>comment</md-icon>
                            <label>{{ 'PLANS.FUNCTIONS.UNLIMITED_COMMENTS' | translate }}</label>
                        </li>
                        <li class="item">
                            <md-icon>question_answer</md-icon>
                            <label>{{ 'PLANS.FUNCTIONS.PRIORITY_SUPPORT' | translate }}</label>
                        </li>
                        <li class="subheader">
                            <md-button class="add-account add-account-tutorial button"
                                       href="/acquiring/checkout/?username={% endverbatim %}{{ request.session.current_account }}{% verbatim %}&months=2&currency={{ prices[0] }}">
                                {{ 'PLANS.FUNCTIONS.UPDATE' | translate }}
                            </md-button>
                        </li>
                    </ul>
                    <ul class="pricing md-whiteframe-1dp clmns advanced">
                        <li class="header" layout="column">
                            <label class="title">{{ 'PLANS.TITLES.ADVANCED' | translate }}</label>
                            <label class="price"><span class="bold value">{{ prices[1][2] }}</span> / <b>6</b> {{
                                'PLANS.MONTHS.6' |
                                translate }}</label>
                        </li>
                        <li class="item">
                            <md-icon>mood</md-icon>
                            <label><b>{{ 'PLANS.FUNCTIONS.TWO_MONTH_FREE' | translate }}</b></label>
                        </li>
                        <li class="item">
                            <md-icon>done_all</md-icon>
                            <label>{{ 'PLANS.FUNCTIONS.BETA_FEATURES' | translate }}</label>
                        </li>
                        <li class="item">
                            <md-icon>update</md-icon>
                            <label>{{ 'PLANS.FUNCTIONS.UNLIMITED_USAGE' | translate }}</label>
                        </li>
                        <li class="item">
                            <md-icon>people</md-icon>
                            <label>{{ 'PLANS.FUNCTIONS.UNLIMITED_FOLLOWS' | translate }}</label>
                        </li>
                        <li class="item">
                            <md-icon>favorite</md-icon>
                            <label>{{ 'PLANS.FUNCTIONS.UNLIMITED_LIKES' | translate }}</label>
                        </li>
                        <li class="item">
                            <md-icon>comment</md-icon>
                            <label>{{ 'PLANS.FUNCTIONS.UNLIMITED_COMMENTS' | translate }}</label>
                        </li>
                        <li class="item">
                            <md-icon>question_answer</md-icon>
                            <label>{{ 'PLANS.FUNCTIONS.PRIORITY_SUPPORT' | translate }}</label>
                        </li>
                        <li class="subheader">
                            <md-button class="add-account add-account-tutorial-inverse button"
                                       href="/acquiring/checkout/?username={% endverbatim %}{{ request.session.current_account }}{% verbatim %}&months=6&currency={{ prices[0] }}">
                                {{ 'PLANS.FUNCTIONS.UPDATE' | translate }}
                            </md-button>
                        </li>
                    </ul>
                </div>

                <div class="pricing-table list mobile">
                    <ul class="pricing md-whiteframe-1dp">
                        <li class="header" layout="column">
                            <label class="title">{{ 'PLANS.TITLES.BASE' | translate }}</label>
                            <label class="price"><span class="bold value">{{ prices[1][1] }}</span> / {{
                                'PLANS.MONTHS.1' |
                                translate }}</label>
                        </li>
                        <li class="item">
                            <md-icon>update</md-icon>
                            <label>{{ 'PLANS.FUNCTIONS.UNLIMITED_USAGE' | translate }}</label>
                        </li>
                        <li class="item">
                            <md-icon>people</md-icon>
                            <label>{{ 'PLANS.FUNCTIONS.UNLIMITED_FOLLOWS' | translate }}</label>
                        </li>
                        <li class="item">
                            <md-icon>favorite</md-icon>
                            <label>{{ 'PLANS.FUNCTIONS.UNLIMITED_LIKES' | translate }}</label>
                        </li>
                        <li class="item">
                            <md-icon>comment</md-icon>
                            <label>{{ 'PLANS.FUNCTIONS.UNLIMITED_COMMENTS' | translate }}</label>
                        </li>
                        <li class="item">
                            <md-icon>question_answer</md-icon>
                            <label>{{ 'PLANS.FUNCTIONS.BASE_SUPPORT' | translate }}</label>
                        </li>
                        <li class="subheader">
                            <!--<a href="#" class="button">Sign Up</a>-->

                            <md-button class="add-account add-account-tutorial button"
                                       href="/acquiring/checkout/?username={% endverbatim %}{{ request.session.current_account }}{% verbatim %}&months=1&currency={{ prices[0] }}">
                                {{ 'PLANS.FUNCTIONS.UPDATE' | translate }}
                            </md-button>
                        </li>
                    </ul>
                    <ul class="pricing md-whiteframe-1dp">
                        <li class="header" layout="column">
                            <label class="title">{{ 'PLANS.TITLES.PRO' | translate }}</label>
                            <label class="price"><span class="bold value">{{ prices[1][1] }}</span> / <b>2</b> {{
                                'PLANS.MONTHS.2' |
                                translate }}</label>
                        </li>
                        <li class="item">
                            <md-icon>done_all</md-icon>
                            <label>{{ 'PLANS.FUNCTIONS.BETA_FEATURES' | translate }}</label>
                        </li>
                        <li class="item">
                            <md-icon>update</md-icon>
                            <label>{{ 'PLANS.FUNCTIONS.UNLIMITED_USAGE' | translate }}</label>
                        </li>
                        <li class="item">
                            <md-icon>people</md-icon>
                            <label>{{ 'PLANS.FUNCTIONS.UNLIMITED_FOLLOWS' | translate }}</label>
                        </li>
                        <li class="item">
                            <md-icon>favorite</md-icon>
                            <label>{{ 'PLANS.FUNCTIONS.UNLIMITED_LIKES' | translate }}</label>
                        </li>
                        <li class="item">
                            <md-icon>comment</md-icon>
                            <label>{{ 'PLANS.FUNCTIONS.UNLIMITED_COMMENTS' | translate }}</label>
                        </li>
                        <li class="item">
                            <md-icon>question_answer</md-icon>
                            <label>{{ 'PLANS.FUNCTIONS.PRIORITY_SUPPORT' | translate }}</label>
                        </li>
                        <li class="subheader">
                            <md-button class="add-account add-account-tutorial button"
                                       href="/acquiring/checkout/?username={% endverbatim %}{{ request.session.current_account }}{% verbatim %}&months=2&currency={{ prices[0] }}">
                                {{ 'PLANS.FUNCTIONS.UPDATE' | translate }}
                            </md-button>
                        </li>
                    </ul>
                    <ul class="pricing md-whiteframe-1dp">
                        <li class="header" layout="column">
                            <label class="title">{{ 'PLANS.TITLES.ADVANCED' | translate }}</label>
                            <label class="price"><span class="bold value">{{ prices[1][2] }}</span> / <b>6</b> {{
                                'PLANS.MONTHS.6' |
                                translate }}</label>
                        </li>
                        <li class="item">
                            <md-icon>mood</md-icon>
                            <label><b>{{ 'PLANS.FUNCTIONS.TWO_MONTH_FREE' | translate }}</b></label>
                        </li>
                        <li class="item">
                            <md-icon>done_all</md-icon>
                            <label>{{ 'PLANS.FUNCTIONS.BETA_FEATURES' | translate }}</label>
                        </li>
                        <li class="item">
                            <md-icon>update</md-icon>
                            <label>{{ 'PLANS.FUNCTIONS.UNLIMITED_USAGE' | translate }}</label>
                        </li>
                        <li class="item">
                            <md-icon>people</md-icon>
                            <label>{{ 'PLANS.FUNCTIONS.UNLIMITED_FOLLOWS' | translate }}</label>
                        </li>
                        <li class="item">
                            <md-icon>favorite</md-icon>
                            <label>{{ 'PLANS.FUNCTIONS.UNLIMITED_LIKES' | translate }}</label>
                        </li>
                        <li class="item">
                            <md-icon>comment</md-icon>
                            <label>{{ 'PLANS.FUNCTIONS.UNLIMITED_COMMENTS' | translate }}</label>
                        </li>
                        <li class="item">
                            <md-icon>question_answer</md-icon>
                            <label>{{ 'PLANS.FUNCTIONS.PRIORITY_SUPPORT' | translate }}</label>
                        </li>
                        <li class="subheader">
                            <md-button class="add-account add-account-tutorial button"
                                       href="/acquiring/checkout/?username={% endverbatim %}{{ request.session.current_account }}{% verbatim %}&months=6&currency={{ prices[0] }}">
                                {{ 'PLANS.FUNCTIONS.UPDATE' | translate }}
                            </md-button>
                        </li>
                    </ul>
                </div>
                {% endverbatim %}
            </div>
        </md-content>

        <md-content flex layout-padding id="content-settings" style="display: none">
            <md-whiteframe class="md-whiteframe-1dp" layout="column">
                <md-content layout="column">

                    <div layout="row" layout-xs="column">
                        <label layout="row" style="padding: 10px">
                            {% verbatim %}
                            <b>{{ 'SETTINGS.EMAIL' | translate}}:</b>
                            {% endverbatim %}
                            <div layout="column" style="    margin-left: 30px;">
                                <span>{{ request.user }}</span>
                                {% verbatim %}
                                <a href="" ng-click="accountPasswordChangeDialog()"
                                   style="padding-top:6px; color: #4285f4;font-weight: 500; text-decoration: none;">
                                    {{ 'SETTINGS.CHANGE_PASSWORD' | translate }}
                                </a>
                                {% endverbatim %}
                            </div>
                        </label>
                        <span flex></span>
                        {#                        <section layout="row">#}
                        {#                            <label layout="row" style="padding: 10px">#}
                        {#                                <b>Subscription:</b>#}
                        {#                            </label>#}
                        {#                            <md-switch ng-model="subscription" style="margin-top: 4px; margin-left: 30px;"></md-switch>#}
                        {#                        </section>#}
                    </div>

                    <section>
                        <table class="mui-table mui-table--bordered" style="margin-top: 52px !important;">
                            <thead>
                            <tr>
                                {% verbatim %}
                                <th>{{ 'SETTINGS.USERNAME' | translate}}</th>
                                <th>{{ 'SETTINGS.EXPIRED_DATE' | translate}}</th>
                                {% endverbatim %}
                                <th></th>
                            </tr>
                            </thead>

                            <tbody>
                            {% verbatim %}
                            <tr ng-repeat="info in accountsInfo">
                                <td>{{ info.username }}
                                    <md-icon style="cursor: pointer !important;"
                                             ng-click="instagramPasswordChangeDialog($event, info.username)">
                                        create
                                    </md-icon>
                                </td>
                                <td>{{ info.expired_date }}</td>
                                <td>
                                    <!--TODO pricing page-->
                                    <md-menu>
                                        <md-button class="md-raised md-primary"
                                                   style="min-width: 54px; !important;"
                                                   ng-click="$mdMenu.open()">
                                            <md-icon hide-gt-xs>payment</md-icon>
                                            <span hide-xs>{{ 'SETTINGS.RENEW_SUBSCRIPTION' | translate}}</span>
                                        </md-button>
                                        <md-menu-content width="3">
                                            <md-menu-item>
                                                <md-button
                                                        ng-click="ctrl.redial($event); requestToAcquiring(info.username, 1)">
                                                    {{ prices[1][0] }} / <b>1</b> {{'PLANS.MONTHS.1' | translate }}
                                                </md-button>
                                            </md-menu-item>
                                            <md-menu-item>
                                                <md-button
                                                        ng-click="ctrl.redial($event); requestToAcquiring(info.username, 2)">
                                                    {{ prices[1][1] }} / <b>2</b> {{'PLANS.MONTHS.2' | translate }}
                                                </md-button>
                                            </md-menu-item>
                                            <md-menu-item>
                                                <md-button
                                                        ng-click="ctrl.redial($event); requestToAcquiring(info.username, 6)">
                                                    {{ prices[1][2] }} / <b>6</b> {{'PLANS.MONTHS.6' | translate }}
                                                </md-button>
                                            </md-menu-item>
                                        </md-menu-content>
                                    </md-menu>
                                </td>
                            </tr>
                            {% endverbatim %}
                            </tbody>
                        </table>
                    </section>

                </md-content>
            </md-whiteframe>
        </md-content>

    </section>

</div>

</body>

</html>
