<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация | uGram</title>

    {% load static %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Orion - Portal">
{#    <meta name="application-name" content="uGram {{ request.user.language }}">#}
    <meta http-equiv="cleartype" content="on">

    <link rel="stylesheet" href="{% static "angular-material/angular-material.css" %}">
    <link rel="stylesheet" href="{% static "css/signup.css" %}">

    <script src="{% static "angular/angular.min.js" %}"></script>
    <script src="{% static "angular-animate/angular-animate.min.js" %}"></script>
    <script src="{% static "angular-aria/angular-aria.min.js" %}"></script>
    <script src="{% static "angular-messages/angular-messages.min.js" %}"></script>
    <script src="{% static "angular-material/angular-material.min.js" %}"></script>

    <script src="{% static "js/auth.js" %}"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">
    <script src="{% static "js/analytics.js" %}"></script>

    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="//ugram.co/icons/apple-touch-icon-57x57.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="//ugram.co/icons/apple-touch-icon-114x114.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="//ugram.co/icons/apple-touch-icon-72x72.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="//ugram.co/icons/apple-touch-icon-144x144.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="//ugram.co/icons/apple-touch-icon-60x60.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="//ugram.co/icons/apple-touch-icon-120x120.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="//ugram.co/icons/apple-touch-icon-76x76.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="//ugram.co/icons/apple-touch-icon-152x152.png"/>
    <link rel="icon" type="image/png" href="//ugram.co/icons/favicon-196x196.png" sizes="196x196"/>
    <link rel="icon" type="image/png" href="//ugram.co/icons/favicon-96x96.png" sizes="96x96"/>
    <link rel="icon" type="image/png" href="//ugram.co/icons/favicon-32x32.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href="//ugram.co/icons/favicon-16x16.png" sizes="16x16"/>
    <link rel="icon" type="image/png" href="//ugram.co/icons/favicon-128.png" sizes="128x128"/>
    <meta name="application-name" content="&nbsp;"/>
    <meta name="msapplication-TileColor" content="#FFFFFF"/>
    <meta name="msapplication-TileImage" content="mstile-144x144.png"/>
    <meta name="msapplication-square70x70logo" content="mstile-70x70.png"/>
    <meta name="msapplication-square150x150logo" content="mstile-150x150.png"/>
    <meta name="msapplication-wide310x150logo" content="mstile-310x150.png"/>
    <meta name="msapplication-square310x310logo" content="mstile-310x310.png"/>
</head>

<body ng-app="AuthApp" ng-controller="SignUpCtrl" class="gr" layout="row" layout-align="center center">
<div layout="column" ng-cloak=""
     class="inputdemoErrorsAdvanced"
     layout="column"
     layout-align="center center"
     md-whiteframe="9">
    {#    <img src="{% static "img/logo.png" %}"/>#}
    <h1 class="logo">uGram</h1>
    <md-content layout-padding="">
        <form name="userForm" ng-submit="submit()"
              ng-init="$scope.userForm.$valid = false; userForm.email.$error.taken =true">
            {% csrf_token %}
            {% verbatim %}
            <div layout-gt-sm="column">

                <md-input-container class="md-block" flex-gt-sm="">
                    <label>Емейл</label>
                    <input name="email" ng-model="user.email" required
                           ng-pattern="/^.+@.+\..+$/" ng-click="checkEmail(userForm.email.$viewValue)"
                           ng-change="checkEmail(userForm.email.$viewValue)"
                           autocomplete="false">

                    <div class="hint" ng-show="showHints"></div>

                    <div ng-messages="userForm.email.$error">
                        <div ng-message="pattern">
                            Некоректный емейл
                        </div>
                        <div ng-message="required">
                            Обязательное
                        </div>
                        <div ng-message="taken">
                            Уже зарегистрирован
                        </div>
                    </div>
                </md-input-container>


                <md-input-container class="md-block" flex-gt-sm="">
                    <label>Пароль</label>
                    <input type="password" name="password" ng-model="user.password" minLength="8"
                           ng-pattern="/^(?=.*\d)(?=.*[a-zA-Z])(?=.*[A-Z]).{1,}$/" required
                           ng-change="checkEmail(userForm.email.$viewValue)"
                           autocomplete="false">

                    <div class="hint" ng-show="showHints"></div>

                    <div ng-messages="userForm.password.$error">
                        <div ng-message="minlength">Пароль должен содержать не менее 8 символов</div>
                        <div ng-message="pattern">Пароль должен содержать не менее одной цифры, и одного символа
                            в верхнем и нижнем регистре, на английском языке.
                        </div>
                        <div ng-message="required">
                            Обязательное
                        </div>

                    </div>
                </md-input-container>
                <section style="padding-bottom: 28px">
                    <script type="text/javascript">
                        var onloadCallback = function () {
                            captcha = grecaptcha.render('captcha', {
                                'sitekey': '6LfvqR8UAAAAANZ0c8B_rYh9nsBT4VtGScnGSQKy'
                            });
                        };
                    </script>
                    <div id="captcha"></div>
                    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
                            async defer>
                    </script>
                </section>

                <section layout="column"
                         layout-align="center center">
                    <div id="signin">
                        <label>Уже есть аккаунт? </label>
                        <a href="/signin/">Войти</a>
                    </div>
                    <div layout="row"
                         layout-align="center center"
                         layout-wrap>
                        <md-button class="md-raised md-primary" type="submit">Регистрация</md-button>
                        <md-button class="md-raised" type="reset">Очитстить</md-button>
                    </div>
                </section>
            </div>

            {% endverbatim %}
        </form>
    </md-content>

</div>

</body>
</html>