<ul class="pricing md-whiteframe-1dp clmns paid" style="width: 244px;
font-family: Arial, Helvetica, sans-serif; list-style-type: none !important; margin: auto;
box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12);
padding-left: 0px; margin-bottom: 24px">
    <!--TODO 100% fix display on ipad pro. Fix table.-->
    <li class="header" layout="column" style="background-color: #3f51b5; color: white;
        padding: 24px 6px; text-align: center;font-size: 24px;">
        <p class="title" style="font-weight: bold;font-size: 1.2em; margin-top: 0; margin-bottom: 12px">Базовый</p>
        <label class="price" style="
{#            position: relative; top: 8px;#}
        ">
            <span class="bold value" id="paid-price"
                                   style="font-weight: bold;font-size: 1.2em;">{{ price }}</span> /
            месяц
        </label>
    </li>
    <li class="item" style="padding: 14px 18px !important;font-size: 16px !important;
    border-bottom: 1px solid #e6e6e6; border-left: 1px solid #e6e6e6; border-right: 1px solid #e6e6e6;
    color: #333333 !important;">
        <img class="svg-update" style="
                margin-bottom: -6px;
{#            position: relative; top: 4px;#}
            -webkit-mask: url(https://ugram.co/static/img/landing/ic_update_black_24px.svg) center / contain no-repeat;
            background: rgba(0, 0, 0, 0.54) !important;
            height: 24px;
            width: 24px;
            margin-left: 12px;
            margin-right: 14px;"/>
        <label style="margin-top: 4px; font-weight: 500 !important;
{#            position: relative; top: -1px;#}
        ">Использование
            ∞</label>
    </li>
    <li class="item" style="padding: 14px 18px !important;font-size: 16px !important;
    border-bottom: 1px solid #e6e6e6; border-left: 1px solid #e6e6e6; border-right: 1px solid #e6e6e6;
    color: #333333 !important;">
        <img class="svg-update" style="
                margin-bottom: -6px;
{#            position: relative; top: 4px;#}
            -webkit-mask: url(https://ugram.co/static/img/landing/ic_people_black_24px.svg) center / contain no-repeat;
            background: rgba(0, 0, 0, 0.54) !important;
            height: 24px;
            width: 24px;
            margin-left: 12px;
            margin-right: 14px;"/>
        <label style="margin-top: 4px; font-weight: 500 !important;
{#            position: relative; top: -1px;#}
        ">
            Подписки ∞
        </label>
    </li>
    <li class="item" style="padding: 14px 18px !important;font-size: 16px !important;
    border-bottom: 1px solid #e6e6e6; border-left: 1px solid #e6e6e6; border-right: 1px solid #e6e6e6;
    color: #333333 !important;">
        <img class="svg-update" style="
                margin-bottom: -6px;
{#            position: relative; top: 4px;#}
            -webkit-mask: url(https://ugram.co/static/img/landing/ic_favorite_black_24px.svg) center / contain no-repeat;
            background: rgba(0, 0, 0, 0.54) !important;
            height: 24px;
            width: 24px;
            margin-left: 12px;
            margin-right: 14px;"/>
        <label style="margin-top: 4px; font-weight: 500 !important;
{#            position: relative; top: -1px;#}
            ">
            Лайки ∞
        </label>
    </li>
    <li class="item" style="padding: 14px 18px !important;font-size: 16px !important;
    border-bottom: 1px solid #e6e6e6; border-left: 1px solid #e6e6e6; border-right: 1px solid #e6e6e6;
    color: #333333 !important;">
        <img class="svg-update" style="
                margin-bottom: -6px;
{#            position: relative; top: 4px;#}
            -webkit-mask: url(https://ugram.co/static/img/landing/ic_comment_black_24px.svg) center / contain no-repeat;
            background: rgba(0, 0, 0, 0.54) !important;
            height: 24px;
            width: 24px;
            margin-left: 12px;
            margin-right: 14px;"/>
        <label style="margin-top: 4px; font-weight: 500 !important;
{#            position: relative; top: -1px;#}
        ">
            Комментарии ∞
        </label>
    </li>
    <li class="item" style="padding: 14px 18px !important;font-size: 16px !important;
    border-bottom: 1px solid #e6e6e6; border-left: 1px solid #e6e6e6; border-right: 1px solid #e6e6e6;
    color: #333333 !important;">
        <img class="svg-update" style="
                margin-bottom: -6px;
{#            position: relative; top: 4px;#}
            -webkit-mask: url(https://ugram.co/static/img/landing/ic_question_answer_black_24px.svg) center / contain no-repeat;
            background: rgba(0, 0, 0, 0.54) !important;
            height: 24px;
            width: 24px;
            margin-left: 12px;
            margin-right: 14px;"/>
        <label style="margin-top: 4px; font-weight: 500 !important;
{#            position: relative; top: -1px;#}
            ">
            24x7 поддержка
        </label>
    </li>
    <li class="subheader" style="text-align: center; padding: 14px 18px !important;font-size: 16px !important;
            border-bottom: 1px solid #e6e6e6; border-left: 1px solid #e6e6e6; border-right: 1px solid #e6e6e6;">
        <a href="https://ugram.co/acquiring/checkout/?username={{ instagram_username }}&months=1&currency=USD">
            <button class="cta-buy" style="font-weight: bold !important;
    width: 112px !important;
    height: 36px !important;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    position: relative;
    min-height: 36px;
    min-width: 88px;
    line-height: 36px;
    vertical-align: middle;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    text-align: center;
    border-radius: 2px;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    padding: 0 6px;
    margin: 6px 8px;
    white-space: nowrap;
    text-transform: uppercase;
    font-style: inherit;
    font-variant: inherit;
    font-family: inherit;
    text-decoration: none;
    overflow: hidden;
    -webkit-transition: box-shadow .4s cubic-bezier(.25, .8, .25, 1), background-color .4s cubic-bezier(.25, .8, .25, 1);
    transition: box-shadow .4s cubic-bezier(.25, .8, .25, 1), background-color .4s cubic-bezier(.25, .8, .25, 1);
    letter-spacing: .01em;
    color: white;
    border: 1px #ff8100 !important;
    background-color: #ff8100 !important;
    cursor: pointer !important;
    box-shadow: 0px 0px 1px 1px rgb(255, 129, 0), 0px 0px 1px 1px rgb(255, 129, 0), 0px 0px 1px 1px rgb(255, 129, 0);">
                ПОЛУЧИТЬ
            </button>
        </a>
    </li>
</ul>
