{% load static %}
<link rel="stylesheet" href="{% static "css/footer.css" %}">

<footer>
    <div class="container">
        <div class="row">
            <div>
                <ul class="list-inline">
                    <li>
                        <a href="//ugram.co/">О нас</a>
                    </li>

                    <li>
                        <a href="//ugram.co/terms">Условия</a>
                    </li>
                    <li>
                        <a href="//ugram.co/faq">FAQ</a>
                    </li>
                    <li>
                        <a href="//ugram.co/pricing">Цены</a>
                    </li>
                    <li>
                        <a href="//ugram.co/privacy">Приватность</a>
                    </li>
                    <li>
                        <a href="mailto:support@ugram.co">Контакты</a>
                    </li>
                </ul>
                <p class="copyright">uGram &copy; 2017</p>
            </div>
        </div>
    </div>
</footer>