<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Orion - Portal">
    <meta http-equiv="cleartype" content="on">

    <title>Цены | uGram</title>

    <link rel="stylesheet" href="{% static "css/header.css" %}">
    <link rel="stylesheet" href="{% static "css/pricing.css" %}">

    <script src="{% static "js/analytics.js" %}"></script>

    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="//ugram.co/icons/apple-touch-icon-57x57.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="//ugram.co/icons/apple-touch-icon-114x114.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="//ugram.co/icons/apple-touch-icon-72x72.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="//ugram.co/icons/apple-touch-icon-144x144.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="//ugram.co/icons/apple-touch-icon-60x60.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="//ugram.co/icons/apple-touch-icon-120x120.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="//ugram.co/icons/apple-touch-icon-76x76.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="//ugram.co/icons/apple-touch-icon-152x152.png"/>
    <link rel="icon" type="image/png" href="//ugram.co/icons/favicon-196x196.png" sizes="196x196"/>
    <link rel="icon" type="image/png" href="//ugram.co/icons/favicon-96x96.png" sizes="96x96"/>
    <link rel="icon" type="image/png" href="//ugram.co/icons/favicon-32x32.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href="//ugram.co/icons/favicon-16x16.png" sizes="16x16"/>
    <link rel="icon" type="image/png" href="//ugram.co/icons/favicon-128.png" sizes="128x128"/>
    <meta name="application-name" content="&nbsp;"/>
    <meta name="msapplication-TileColor" content="#FFFFFF"/>
    <meta name="msapplication-TileImage" content="mstile-144x144.png"/>
    <meta name="msapplication-square70x70logo" content="mstile-70x70.png"/>
    <meta name="msapplication-square150x150logo" content="mstile-150x150.png"/>
    <meta nZame="msapplication-wide310x150logo" content="mstile-310x150.png"/>
    <meta name="msapplication-square310x310logo" content="mstile-310x310.png"/>
    <link rel="stylesheet" href="/static/css/header.css"> <!-- CSS reset -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">
</head>
<body>

<header id="header">
    <div class="content">
        <a href="/">
            <h1 id="logo">uGram</h1>
        </a>
        <!-- TODO sign in/up links !CHECK IS COOKIE WORK!-->
        {% if not request.user.is_authenticated %}
            <a href="/app">
                <button class="cta">
                    Войти
                </button>
            </a>
        {% else %}
            {% if instagrams %}
                <label class="login">
                    <select id="current-account">
                        {% for instagram in instagrams %}
                            {% if instagram == request.session.current_account %}
                                <option selected value="{{ request.session.current_account }}">
                                    {{ request.session.current_account }}
                                </option>
                            {% else %}
                                <option value="{{ instagram }}">
                                    {{ instagram }}
                                </option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </label>
            {% else %}
                <a href="/app">
                    <button class="cta">
                        Войти
                    </button>
                </a>
            {% endif %}
        {% endif %}
    </div>
</header>

<div class="pricing-table center-verticaly" id="pricing">
    <ul class="pricing md-whiteframe-1dp clmns free">
        <li class="header" layout="column">
            <label class="title">Обычный</label><br/>
            <label class="price"><span class="bold value">FREE</span> /
                3 дня</label>
        </li>
        <li class="item">
            <img class="svg-update"/>
            <label>Использование ∞</label>
        </li>
        <li class="item">
            <img class="svg-people"/>
            <label>Подписки ∞</label>
        </li>
        <li class="item">
            <img class="svg-favorite"/>
            <label>Лайки ∞</label>
        </li>
        <li class="item">
            <img class="svg-comment"/>
            <label>Комментарии ∞</label>
        </li>
        <li class="item">
            <img class="svg-question_answer"/>
            <label>Обычная поддержка</label>
        </li>
        <li class="subheader">
            <!--<a href="#" class="button">Ssssign Up</a>-->
            {% if request.user.is_authenticated %}
                {% if instagrams %}
                    <button class="cta-buy-inverse" onclick="showSnackbar()">
                        ВОЙТИ
                    </button>
                {% else %}
                    <a href="/app">
                        <button class="cta-buy-inverse" href="/app/">
                            ВОЙТИ
                        </button>
                    </a>
                {% endif %}
            {% else %}
                <a href="/app">
                    <button class="cta-buy-inverse " href="/app/">
                        ВОЙТИ
                    </button>
                </a>
            {% endif %}
        </li>
    </ul>
    <ul class="pricing md-whiteframe-1dp clmns paid">
        <!--TODO 100% fix display on ipad pro. Fix table.-->
        <li class="header" layout="column">
            <label class="title">Базовый</label><br/>
            <label class="price"><span class="bold value" id="paid-price"></span> /
                <select id="months">
                    <option selected>месяц</option>
                    <option>2 месяца</option>
                    <option>6 месяцев</option>
                </select>
            </label>
        </li>
        <li class="item">
            <img class="svg-update"/>
            <label>Использование ∞</label>
        </li>
        <li class="item">
            <img class="svg-people"/>
            <label>Подписки ∞</label>
        </li>
        <li class="item">
            <img class="svg-favorite"/>
            <label>Лайки ∞</label>
        </li>
        <li class="item">
            <img class="svg-comment"/>
            <label>Комментарии ∞</label>
        </li>
        <li class="item">
            <img class="svg-question_answer"/>
            <label>Базовая поддержка</label>
        </li>
        <li class="subheader">
            {% if request.user.is_authenticated %}
                <button class="cta-buy"
                        onclick="generateAcquiringURL()"
                >ПОЛУЧИТЬ
                </button>
            {% else %}
                <a href="/app">
                    <button class="cta-buy"
                            onclick="generateAcquiringURL()"
                    >ПОЛУЧИТЬ
                    </button>
                </a>
            {% endif %}
        </li>
    </ul>
</div>

<div id="snack-onlyone">Вы можете иметь только один обычный аккаунт.</div>

{% include "footer.html" %}

</body>
<script src="{% static "js/pricing.js" %}"></script>
</html>
