<html>
<head>
    {% load static %}
    <script src="https://api.fondy.eu/static_common/v1/checkout/ipsp.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">
    <script src="{% static "js/analytics.js" %}"></script>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Orion - Portal">
    <meta name="application-name" content="uGram {{ request.user.language }}">
    <meta http-equiv="cleartype" content="on">

    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="//ugram.co/icons/apple-touch-icon-57x57.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="//ugram.co/icons/apple-touch-icon-114x114.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="//ugram.co/icons/apple-touch-icon-72x72.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="//ugram.co/icons/apple-touch-icon-144x144.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="//ugram.co/icons/apple-touch-icon-60x60.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="//ugram.co/icons/apple-touch-icon-120x120.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="//ugram.co/icons/apple-touch-icon-76x76.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="//ugram.co/icons/apple-touch-icon-152x152.png"/>
    <link rel="icon" type="image/png" href="//ugram.co/icons/favicon-196x196.png" sizes="196x196"/>
    <link rel="icon" type="image/png" href="//ugram.co/icons/favicon-96x96.png" sizes="96x96"/>
    <link rel="icon" type="image/png" href="//ugram.co/icons/favicon-32x32.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href="//ugram.co/icons/favicon-16x16.png" sizes="16x16"/>
    <link rel="icon" type="image/png" href="//ugram.co/icons/favicon-128.png" sizes="128x128"/>
    <meta name="application-name" content="&nbsp;"/>
    <meta name="msapplication-TileColor" content="#FFFFFF"/>
    <meta name="msapplication-TileImage" content="mstile-144x144.png"/>
    <meta name="msapplication-square70x70logo" content="mstile-70x70.png"/>
    <meta name="msapplication-square150x150logo" content="mstile-150x150.png"/>
    <meta name="msapplication-wide310x150logo" content="mstile-310x150.png"/>
    <meta name="msapplication-square310x310logo" content="mstile-310x310.png"/>
</head>
<body style="height: 110% !important;">
<div id="checkout" style="height: 100% !important;"></div>
<script>
    var button = $ipsp.get("button");
    button.setHost("api.fondy.eu");
    button.setProtocol("https");
    button.setMerchantId(1399766);
    {#    TODO uncomment currency#}
    {#    button.setAmount("{{ amount }}", "{{ currency }}", true);#}
    button.setAmount("{{ amount }}", "UAH", true);

    {# TODO Development #}
    button.setResponseUrl("http://109.86.13.23/acquiring/success/");
    {# TODO Production #}
    {# button.setResponseUrl("https://ugram.co/acquiring/success/");#}

    button.addParam("lang", "{% if request.user.language == 'ru' %}ru{% else %}en{% endif %}");
    {% if request.user.is_authenticated %}
        button.addParam("sender_email", "{{ request.user }}");
    {% endif %}
    button.addParam("order_desc", "");

    {# TODO Development #}
    button.addParam("server_callback_url", "http://109.86.13.23/acquiring/callback/?hash={{ callback_url_param }}");
    {# TODO Production #}
    {# button.addParam("server_callback_url", "https://ugram.co/acquiring/callback/");#}
    var url = button.getUrl();

    $ipsp('checkout').config({
        'wrapper': '#checkout',
        'styles': {
            'body': {
                'overflow': 'hidden'
            }
        }
    }).scope(function () {
        this.width('100%');
        this.height(480);
        this.action('resize', function (data) {
            this.setCheckoutHeight(data.height);
        });
        this.loadUrl(url);
    });

    var name = 'Ugram Basic ' + {{ request.COOKIES.months }} +' months';
    var price = '{{ amount }}';

    ga('create', 'UA-100852681-1');
    ga('require', 'ec');
    ga('set', 'currencyCode', '{{ currency }}');

    ga('ec:addProduct', {
        'name': name,
        'price': price
    });
    ga('ec:setAction', 'checkout', {
        'step': 1
    });
    ga('send', 'pageview');
</script>
{% include "footer.html" %}
</body>
</html>