footer .list-inline {
    padding-left: 0;
    list-style: none;
    display: inline-flex;
    /*margin-left: -5px;*/
}

footer ol, footer ul {
    margin-top: 0;
    margin-bottom: 10px;
}

footer .row {
    text-align: center;
    /*margin-right: -15px;*/
    /*margin-left: -15px;*/
}

footer .list-inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}

footer .list-inline > li > a {
    color: #bbbbbb !important;
    font-weight: 100;
    font-size: 14px;
}

footer p.copyright {
    margin: 15px 0 0;
    color: #bbbbbb !important;
    font-weight: 100;
}

footer .list-inline > li > a, p.copyright {
    font-size: 14px !important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

footer {
    margin-bottom: 12px;
    padding-top: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

footer .g-r {
    background-color: #f6f6f6;
}

footer a, footer button {
    cursor: pointer;
}



