header#header {
    height: 64px;
    background: #3f51b5;
}

h1#logo {
    margin-top: 2px;
    font-family: 'Lato', sans-serif;
    display: inline-flex;
    color: white;
    font-size: 3em;
    font-weight: 300 !important;
    /*margin: auto auto;*/
}

header a {
    color: white;
}

button.cta {
    background-color: #ff8100 !important;
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 1.2em;
    padding: 8px 16px;
    float: right;
    margin-top: 12px;
}

header div.content {
    width: 90%;
    max-width: 1024px;
    margin: auto;
    /* float: right; */
}

a {
    text-decoration: none !important
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

#header select {
    background: white;
    color: rgba(0, 0, 0, 0.71) !important;
    position: relative;
    top: -2px;
    border: 0;
    font-size: 20px;
    font-weight: 100 !important;
}

select#current-account {
    margin-top: 20px;
    padding: 4px;
}

#header .login {
    color: white;
}