<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <title>Забыли пароль? | uGram</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">
    <style>
        .logo {
            text-align: center;
            font-weight: 100;
            font-size: 3em;
            margin-top: 18px;
            margin-bottom: 18px;
            font-family: 'Lato', sans-serif;
        }

        div#reset {
            display: table;
            margin: 0 auto;
            background-color: white;
            padding: 16px;
        }

        .gr {
            background-color: #eee !important;
        }

    </style>
    {% include "icons-and-mobile-extnsion.html" %}
</head>
<body class="gr">
{% block content %}
    <h1 class="logo">uGram</h1>
    <div id="reset">
        <h3>Забыли пароль?</h3>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Восстановить</button>
        </form>
    </div>
{% endblock %}
</body>
</html>