{% block content %}
    {% include "icons-and-mobile-extnsion.html" %}
    <p>
        Вы успешно восстановили новый пароль...<br/>
        Переадресация на страницу входа через
        <span id="k">8</span> секунд
    </p>
    <script>
        var i = 7;
        setInterval(function () {
            if (i <= 0) {
                window.location.href = "/app/"
            }
            document.getElementById('k').innerText = i
            i--
        }, 1000);
    </script>
{% endblock %}