{% block content %}
    {% include "icons-and-mobile-extnsion.html" %}
    {% if validlink %}
        <h3>Восстановление пароля</h3>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Восстановление пароля</button>
        </form>
    {% else %}
        <p>
            Ссылка, для восстановления пароля недействительна.
            Возможно, потому что она уже была использована
            Попробуйте
            <a href="https://ugram.co/change-password/password_reset/">
                восстановить пароль еще раз.
            </a>
        </p>
    {% endif %}
{% endblock %}
