.sidemenu {
    width: 249px !important;
}

.md-sidenav-left {
    box-sizing: border-box;
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    z-index: 60;
    width: 249px !important;
    min-width: 249px !important;
    max-width: 249px !important;
    bottom: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.md-sidemenu md-divider {
    margin: 0 !important;
}

.md-sidenav-left {
    padding: 0 !important;
    margin: 0 !important;
}

.zero-margin {
    margin: 0 !important;
}

.zero-padding {
    padding: 0 !important;
}

body {
    font: 500 16px Roboto, sans-serif !important;
    color: rgba(0, 0, 0, 0.54) !important;
    background-color: #eee;
    font-family: RobotoDraft, Roboto, sans-serif;
}

.sidemenu > .md-button {
    padding: 0 6px 0 6px;
    margin: 6px 8px 6px 8px;
    border-radius: 3px;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    outline: none;
    color: rgba(0, 0, 0, 0.54);
    letter-spacing: -0.06px;
    vertical-align: middle;
}

.main-header {
    position: relative;
    z-index: 2;
}

.main-sidenav {
    position: relative;
    z-index: 1;
    color: rgba(0, 0, 0, 0.6) !important
}

.header-main {
    height: 100%;
}

.md-header-fab {
    box-shadow: none !important;
    width: 36px !important;
    height: 30px !important;
}

@media (max-width: 456px) {
    md-sidenav {
        width: calc(100% - 56px);
        min-width: 249px !important;
        max-width: calc(100% - 56px);
    }
}

@media (max-width: 959px) {
    .md-header-toolbar {
        padding: 0 !important;
    }

    .md-toolbar-tools {
        padding: 0 0px;
    }

    button.add-account > md-icon {
        margin-right: 8px !important;
    }

    .account-item {
        padding-left: 44px !important;
    }
}

@media (min-width: 959px) {
    .account-item {
        padding-left: 52px !important;
    }
}

.md-toolbar-tools {
    padding: 0 6px;
}

.account-list-menu {
    margin-left: 0 !important;
}

.account-list-menu-button {
    margin-left: 0 !important;
    padding-left: 0 !important;
    padding-right: 44px !important;
}

.account-list-menu md-icon {
    margin-right: 32px !important;
}

button.add-account {
    padding: 0 8px !important
}

md-sidenav {
    background-color: rgb(250, 250, 250);
}

label#tips {
    font-size: 14px;
    color: rgb(159, 159, 159);
    margin-top: 16px;
    margin-bottom: 16px;
    border-top-width: 2px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 6px;
}

.chips {
    min-height: 89px !important;
}

.content-section {
    min-height: 277px;
}

md-input-container {
    margin-right: 8px !important;
}

#userblacklist-schedule {
    min-height: 0 !important;
    padding-bottom: 8px !important;
}

md-content.md-default-theme, md-content {
    color: rgba(0, 0, 0, 0.87);
    background-color: white !important;
}

md-input-container#mode {
    min-width: 100px !important;
}

/*a.md-sidemenu-button {*/
/*font-size: 0.8em !important;*/
/*padding-left: 82px !important;*/
/*}*/

content.md-default-theme, md-content {
    color: rgba(0, 0, 0, 0.68) !important;
    background-color: white !important;
}

.md-chips {
    display: block;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 16px;
    padding: 0 0 8px 3px;
    vertical-align: middle;
    min-height: 40px !important;
}

md-input-container:not(.md-input-has-value) input:not(:focus), md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-ampm-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-day-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-hour-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-millisecond-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-minute-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-month-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-second-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-week-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-year-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-text {
    color: inherit !important;
}

md-input-container .md-input-message-animation:not(.ng-animate) {
    margin-top: 0px !important;
    opacity: 1 !important;
}

table {
    display: table !important;
    border-collapse: separate !important;;
    border-spacing: 2px !important;;
    border-color: grey !important;;
}

.mui-table {
    width: 100% !important;
    max-width: 100% !important;
    margin-bottom: 20px !important;
}

thead {
    display: table-header-group !important;
    vertical-align: middle !important;
    border-color: inherit !important;
}

tr {
    display: table-row !important;
    vertical-align: inherit !important;
    border-color: inherit !important;
}

.mui-table > tbody > tr > th, .mui-table > tfoot > tr > th, .mui-table > thead > tr > th {
    text-align: left !important;
}

.mui-table > tbody > tr > td, .mui-table > tbody > tr > th, .mui-table > tfoot > tr > td, .mui-table > tfoot > tr > th, .mui-table > thead > tr > td, .mui-table > thead > tr > th {
    padding: 10px !important;
    line-height: 1.429 !important;
}

.mui-table > thead > tr > th {
    border-bottom: 2px solid rgba(0, 0, 0, .12) !important;
    font-weight: 700 !important;
}

tbody {
    display: table-row-group !important;
    vertical-align: middle !important;
    border-color: inherit !important;
}

md-chips:focus, md-chips-wrap:focus, md-content:focus, section:focus {
    outline: none !important;
    border: 0 !important;

}

#content-settings > md-whiteframe {
    height: 100% !important;
}

::-webkit-scrollbar {
    height: 16px;
    /* overflow: visible; */
    width: 16px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .2);
    background-clip: padding-box;
    border: solid transparent;
    border-width: 1px 1px 1px 6px;
    /* min-height: 28px; */
    padding: 100px 0 0;
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0 rgba(0, 0, 0, .07);
}

#content-dashboard {
    padding-right: 4px !important;
}

@media (max-width: 456px) {
    #content-dashboard {
        overflow: overlay !important;
        padding-right: 8px !important;
    }

    ::-webkit-scrollbar {
        height: 16px;
        width: 12px;
    }
}

td {
    background-color: #f9f9f9 !important;
}

.upload {
    margin-bottom: 2px !important;
    margin-left: 2px !important;
    cursor: pointer;
}

.uploadList {
    height: 26px !important;
    margin-top: auto !important;
}

#comments {
    max-width: 196px !important;
    margin-top: 24px !important;
}

.service-menu {
    background-color: rgb(250, 250, 250) !important;
    padding: 14px 14px 0 14px;
    width: 100%;
}

.service-menu a:hover, .service-menu div.md-text:hover {
    text-decoration: underline !important;
}

.service-menu a {
    font-size: 12px;
    color: rgb(170, 170, 170) !important;
    padding: 0 4px 0 4px;
    text-decoration: none;
}

.center {
    margin: auto;
    text-align: center;
}

.language .md-select-value, .language md-input-container {
    border: 0 !important;
}

.language {
    margin: 0 !important;
    padding-top: 0 !important;
    position: relative;
    right: 6px;
}

.language span.md-select-icon {
    display: none !important;
}

.language md-select-value span {
    font-size: 12px !important;
    color: rgb(170, 170, 170) !important;
}

.language md-select-value {
    padding: 0px !important;
}

md-icon#language {
    font-size: 12px !important;
    height: 10px !important;
    min-height: 10px !important;
    width: 10px !important;
    min-width: 10px !important;
    padding-bottom: 2px !important;
    position: relative;
    right: 6px;
    color: rgba(170, 170, 170, 0.83) !important;
}

.language md-select {
    width: 56px !important;
}

.language md-option {
    font-size: 12px !important;
}

[id^=select_container_] {
    /*scroll*/
}

#select_container_4 {
    font-size: 12px !important;
    width: 96px !important;
    /*overflow: hidden !important;*/
}

#select_container_4 md-select-menu {
    overflow: hidden;
}

#select_container_4 md-option {
    height: 24px !important;
}

md-select-menu.md-default-theme md-content md-option[selected], md-select-menu md-content md-option[selected] {
    color: rgba(33, 33, 33, 0.87) !important;
}

.md-chip-input-container input {
    width: 220px;
}

#dialogContent_31 {
    max-height: 87% !important;
}

.center-ver {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.add-account-tutorial, .add-account-tutorial:hover label {
    background-color: #ff8100 !important;
    color: white !important;
    cursor: pointer !important;
}

md-content#content-dashboard-empty {
    background-color: #eee !important;
}

.clmns * {
    box-sizing: border-box;
}

.clmns {
    float: left;
    width: 33%;
}

.pricing {
    list-style-type: none;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background-color: white;
}

.pricing:hover {
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2)
}

.pricing .header {
    background-color: #3f51b5;
    color: white;
    text-align: center;
    font-size: 24px;
}

.pricing li {
    border-bottom: 1px solid #e6e6e6;
    padding: 20px;
    text-align: left;
}

.pricing .subheader {
    text-align: center;
    padding: 12px;
}

.pricing .broad {
    width: 100%
}

.pricing .button {
    width: 112px !important;
    height: 36px !important;
    font-size: 16px;
    font-weight: bold;
}

.pricing .button-inverse {
    width: 112px !important;
    height: 36px !important;
    font-size: 16px;
    font-weight: bold;
}

.pricing .add-account-tutorial-inverse:hover {
    box-shadow: 0px 0px 1px 1px rgb(255, 129, 0),
    4px 4px 1px 1px rgb(255, 129, 0),
    4px 4px 4px 4px rgb(255, 255, 255) !important;
}

/* TODO shadow */
.add-account-tutorial:hover {
    /*box-shadow:*/
    /*0px 0px 1px 1px #3f51b5,*/
    /*4px 4px 1px 1px #3f51b5,*/
    /*4px 4px 4px 4px rgb(255, 255, 255) !important;*/
}

.pro .item, .pro .subheader {
    border-right: 1px solid #e6e6e6 !important;
    border-left: 1px solid #e6e6e6 !important;
}

.gr {
    background-color: #eee !important;
}

.pricing li md-icon {
    margin-left: 20px;
    margin-right: 10px;
}

.pricing .header .title {
    font-weight: bold;
    font-size: 1.2em;
}

.pricing .header .value {
    font-size: 1.7em;
}

label.price {
    margin-top: 16px;
    font-size: 20px;
}

.item {
    padding: 14px !important;
    font-size: 14px !important;
    padding-right: 12px !important;
}

.bold {
    font-weight: bold;
}

.pricing-table {
    display: inline;
    max-width: 846px;
    margin-left: 8px;
}

.pricing-table > .pro {
    -webkit-box-shadow: 0px 10px 89px -23px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 89px -23px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 10px 89px -23px rgba(0, 0, 0, 0.75);
    position: relative;
}

.pricing-table ul:hover {
    -webkit-box-shadow: 0px 10px 89px -23px rgba(0, 0, 0, 0.75) !important;
    -moz-box-shadow: 0px 10px 89px -23px rgba(0, 0, 0, 0.75) !important;
    box-shadow: 0px 10px 89px -23px rgba(0, 0, 0, 0.75) !important;
    position: relative;
}

.pricing-table .base {
    margin-top: 106px;
    z-index: 1111;
}

.pricing-table .pro {
    margin-top: 53px;
}

.pricing-table:hover ul.pro {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12);
}

.add-account-tutorial-inverse, .add-account-tutorial-inverse:hover label {
    color: #ff8100 !important;
    border: 1px #ff8100 !important;
    background-color: white !important;
    cursor: pointer !important;
    box-shadow: 0px 0px 1px 1px rgb(255, 129, 0), 0px 0px 1px 1px rgb(255, 129, 0), 0px 0px 1px 1px rgb(255, 129, 0);
}

.pricing-width {
    max-width: 846px;
}

.center-verticaly {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.center-horizontally {
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 710px) {
    .tablet-desktop {
        display: none !important;
    }

    .mobile ul.pricing {
        max-width: 296px !important;
    }

    .pricing-table ul:first-child {
        margin-top: 12px;
        margin-bottom: 16px;
    }

    .pricing-table ul {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 16px;
    }
}

@media (min-width: 711px) {
    .mobile {
        display: none !important;
    }
}

@media (min-height: 660px) {
    .mobile {
        /*display: none !important;*/
    }
}

@media (max-height: 661px) {
    .tablet-desktop {
        display: none !important;
    }

    .mobile {
        display: block !important;
    }

    .mobile ul.pricing {
        max-width: 296px !important;
        margin-left: auto;
        margin-right: auto;
    }

    .pricing-table ul:first-child {
        margin-top: 12px;
        margin-bottom: 16px;
    }

    .pricing-table ul {
        margin-bottom: 16px;
    }
}

@media (max-width: 1030px) and (min-width: 710px) {
    .pricing li md-icon {
        margin-left: 10px;
    }

    .pricing .item {
        padding: 14px 6px !important;
    }
}

@media (max-width: 710px) {
    .pricing .item {
        font-size: 16px !important;
    }
}

#account-button {
    padding-left: 8px;
    margin-left: 0 !important;
}

.pricing.advanced .header {
    padding: 20px 10px !important;
}