{% block content %}
    {% include "icons-and-mobile-extnsion.html" %}
    <p>
        Вы получите инструкции, по восстановлению пароля,
        на почту, которую вы указали, в течении 5 минут.
    </p>
    <p>
        Если Вы не получили письма, проверьте папку спам. Убедитесь в том, что Вы ввели корректный адрес почты.
        Вслучае, если Вы, ввели почту, которая не зарегистрирована в системе, письмо не прийдет.
    </p>
{% endblock %}