.inputdemoErrorsAdvanced {
    max-width: 400px;
}

.inputdemoErrorsAdvanced .hint {
    /* Position the hint */
    position: absolute;
    left: 2px;
    right: auto;
    bottom: 7px;
    /* Copy styles from ng-messages */
    font-size: 12px;
    line-height: 14px;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    /* Set our own color */
    color: grey;
}

.inputdemoErrorsAdvanced .hint.ng-hide,
.inputdemoErrorsAdvanced .hint.ng-enter,
.inputdemoErrorsAdvanced .hint.ng-leave.ng-leave-active {
    bottom: 26px;
    opacity: 0;
}

.inputdemoErrorsAdvanced .hint.ng-leave,
.inputdemoErrorsAdvanced .hint.ng-enter.ng-enter-active {
    bottom: 7px;
    opacity: 1;
}

body[dir=rtl] .hint {
    right: 2px;
    left: auto;
}

.gr {
    background-color: #eee !important;
}

.logo {
    text-align: center;
    font-weight: 100;
    font-size: 3em;
    margin-top: 18px;
    margin-bottom: 18px;
    font-family: 'Lato', sans-serif;
}

div#signin {
    position: relative;
    top: -10px;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

div#signin label {
    color: #9c9c9c;
}

div#signin a {
    color: rgba(20, 51, 234, 0.95);
}
