/*
 * Start Bootstrap - Landing Page (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

body,
html {
    width: 100%;
    height: 100%;
    color: #212121;
    background-color: #f6f6f6 !important;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.topnav {
    font-size: 14px;
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

.intro-header {
    height: 100%;

    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.90), rgba(0, 0, 0, 0.80));
    text-align: center;
    color: #f8f8f8;
    background: url(/static/img/intro-bg.jpg) no-repeat center center;
    background-size: cover;
}

.intro-header .container {
    height: 100%;
}

.intro-message {
    height: 100%;
    text-align: center;
}

.intro-message > h1 {
    display: inline-flex;
    width: inherit;
    line-height: 1.23;
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    font-size: 3.4em;
}

/*@media (min-width: 968px) {
  .intro-message > h1 {
    font-size: 2em;
  }
}*/

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

@media (max-width: 767px) {
    .intro-message {
        padding-top: 40px;
    }

    .subm {
        font-size: 18px !important;
    }

    .mouse {
        margin-bottom: 8px !important;
    }

    .intro-message > h1 {
        font-size: 2em;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }
}

.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.content-section-a {
    /*border-top: 1px solid #e7e7e7;*/
    padding: 50px 0;
    background-color: white;
}

.content-section-b {
    padding: 50px 0;
    /*border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;*/
    background-color: white !important;
}

.section-heading {
    margin-bottom: 30px;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.banner {
    padding: 100px 0;
    color: #f8f8f8;
    background: url(/static/img/banner-bg.jpg) no-repeat center center;
    background-size: cover;
}

.banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    font-size: 3em;
}

.banner ul {
    margin-bottom: 0;
}

.banner-social-buttons {
    float: right;
    margin-top: 0;
}

@media (max-height: 474px) {
    .bottom {
        display: none !important;
    }
}

@media (max-height: 474px) {
    div#intro-submessage {
        margin-top: 0 !important;
    }
}

@media (max-width: 1199px) {
    ul.banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
}

@media (min-width: 768px) {
    .follows-img {
        margin-top: 48px !important;
        height: 120% !important;
        max-width: 120% !important;
    }

    .follows-img-2 {
        margin-top: 42px !important;
        height: 120% !important;
        max-width: 109% !important;
    }

    /*.review {
      max-width: 314px
    }*/
}

@media (max-width: 767px) {
    div.content-section-b.no-border-bottom {
        padding-bottom: 48px !important;
    }

    .reviews .review:first-child {
        padding-top: 0
    }

    .trig {
        padding: 0 10px;
    }

    .reviews .review {
        padding-top: 24px;
        /*max-width: 282px !important;*/
        /*width: 324px;*/
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .reviews .review .text {
        width: 282px !important
    }

    .review div {
        width: 346px;
        margin: auto;
    }

    .follows-img {
        /*height: 100% !important;*/
        max-width: 100% !important;
    }

    .follows-img-2 {
        /*height: 100% !important;*/
        max-width: 100% !important;
    }

    div.howitworks {
        padding-bottom: 12px !important;
    }

    div#howitworks > label.title {
        font-size: 28px !important;
    }

    div.explanation {
        padding: 0 0 24px 15px !important;
        max-width: 373px;
        margin: 0 auto;
    }

    div#howitworks {
        margin: 0px 0 12px 0 !important;
    }

    div.explanation div#expl {
        padding: 7px 16px 0 16px !important;
    }

    hr.section-heading-spacer {
        display: none !important;
    }

    div.content-section-a, div.content-section-b {
        padding: 24px 0;
    }

    img.img-responsive {
        padding-top: 12px;
    }

    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
        font-size: 3em;
    }

    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .review div {
        max-width: 289px !important;
    }

    .trigger-root {
        height: 436px !important;
    }
}

footer {
    padding: 50px 0;
    background-color: #f6f6f6;
}

p.copyright {
    margin: 15px 0 0;
    color: #bbbbbb !important;
    font-weight: 100;
}

.intro-header #header {
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.90), rgba(0, 0, 0, 0.80));
    width: 100%;
}

.arrow-icon {
    width: 45px;
    transform: translateX(-100%);
    fill: #fff;
    top: 0;
    bottom: 0;
    margin: auto;
}

div#submessage {
    display: inline;
}

.subm {
    line-height: 1.5;
    font-weight: 300;
    font-size: 24px;
    margin-top: 24px;
}

button#main-cta a {
    color: white;
    font-size: 16px;
    font-weight: bold;
}

button#main-cta {
    border: 0;
    border-radius: 100px;
    color: #ffffff !important;
    background-color: #d64911;
    padding-left: 40px;
    padding-right: 40px;
    height: 60px;
    font-size: 16px;
    position: relative;
    left: -24px;
    top: -38px;
}

div#intro-submessage {
    margin-top: 24px;
}

@-webkit-keyframes ani-mouse {
    0% {
        opacity: 1;
        top: 29%;
    }
    15% {
        opacity: 1;
        top: 50%;
    }
    50% {
        opacity: 0;
        top: 50%;
    }
    100% {
        opacity: 0;
        top: 29%;
    }
}

@-moz-keyframes ani-mouse {
    0% {
        opacity: 1;
        top: 29%;
    }
    15% {
        opacity: 1;
        top: 50%;
    }
    50% {
        opacity: 0;
        top: 50%;
    }
    100% {
        opacity: 0;
        top: 29%;
    }
}

@keyframes ani-mouse {
    0% {
        opacity: 1;
        top: 29%;
    }
    15% {
        opacity: 1;
        top: 50%;
    }
    50% {
        opacity: 0;
        top: 50%;
    }
    100% {
        opacity: 0;
        top: 29%;
    }
}

.scroll-btn {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
}

.scroll-btn > * {
    display: inline-block;
    line-height: 18px;
    font-size: 13px;
    font-weight: normal;
    color: #7f8c8d;
    color: #ffffff;
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 2px;
}

.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *.active {
    color: #ffffff;
}

.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *:active,
.scroll-btn > *.active {
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.scroll-btn .mouse {
    position: relative;
    display: block;
    width: 35px;
    height: 55px;
    margin: 0 auto 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid white;
    border-radius: 23px;
}

.scroll-btn .mouse > * {
    position: absolute;
    display: block;
    top: 29%;
    left: 50%;
    width: 8px;
    height: 8px;
    margin: -4px 0 0 -4px;
    background: white;
    border-radius: 50%;
    -webkit-animation: ani-mouse 2.5s linear infinite;
    -moz-animation: ani-mouse 2.5s linear infinite;
    animation: ani-mouse 2.5s linear infinite;
}

.center-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bottom {
    position: absolute;
    bottom: 0;
    left: 0;
}

div.howitworks {
    background-color: white;
    padding-bottom: 64px
}

div#howitworks > label.title {
    display: block;
    text-align: center;
    padding: 48px 0;
    font-size: 42px;
}

div.explanation {
    display: flex;
}

div.explanation:first-child {
    padding-left: 0px
}

div.explanation:last-child {
    padding-right: 0px !important
}

div.explanation label.title {
    display: block;
    font-size: 24px
}

div.explanation label.explanation {
    max-width: 290px;
    margin-top: 10px;
    font-weight: normal;
}

div.explanation label.logo {
    color: white;
    width: 46px;
    height: 46px;
    background-color: #222;
    border-radius: 100%;
    border: 2px solid #fff;
    position: relative;
    padding: 7px 16px;
    font-weight: bold;
    font-size: 20px;
}

div.explanation div#expl {
    padding: 7px 0px 0px 16px;
}

.text_l {
    font-size: 16px;
    line-height: 1.55;
}

a#signin {
    position: relative;
    top: -36px;
    color: white;
    text-decoration: underline;
}

.title-h {
    display: block;
    text-align: center;
    padding: 48px 0;
    font-size: 42px;
}

.reviews {
    padding: 60px 24px;
    /*border-bottom: 1px solid #e7e7e7;*/
}

.review div {
    /*background-color: white;*/
    background-color: white;
    padding: 24px 24px;
    margin: auto;
    max-width: 343px;
    min-height: 342px;
}

.review .avatar, .review label.title {
    display: inherit;
    text-align: center !important;
}

.review label.title {
    margin-bottom: 12px
}

.review label {
    font-size: 16px;
    line-height: 1.5
}

.review label.text {
    font-weight: 300;
    text-align: center;
    width: 100%;
}

.avatar {
    display: block;
    height: 100px;
    border-radius: 100px;
    margin: 0 auto;
    margin-bottom: 16px;
}

.no-border {
    border: 0 !important
}

.list-inline > li > a {
    color: #bbbbbb !important;
    font-weight: 100;
}

footer {
    text-align: center !important;
}

.no-border-bottom {
    border-bottom: 0 !important
}

div#cta-1 {
    height: 150px !important;
    display: block;
}

div#cta-1 div {
    text-align: center;
    padding-top: 46px
}

div#cta-1 button {
    color: #ffffff !important;
    background-color: #d64911;
    padding-left: 40px;
    padding-right: 40px;
    height: 60px;
    font-size: 16px;
    border: 0
}

.cta-button {
    color: #ffffff !important;
    background-color: #d64911;
    padding-left: 40px;
    padding-right: 40px;
    height: 60px;
    font-size: 16px;
    border: 0
}

div#cta-1 label {
    font-weight: 100
}

.trigger-root {
    background-color: white !important;
    padding-top: 60px;
    height: 350px;
}

.trigger-proto {
    /*background-size: cover;*/
    width: 100%;
    height: 60px;
}

.trigger-1 {
    background: url(/static/img/trigger-1.jpg) no-repeat center center;
}

.trigger-2 {
    background: url(/static/img/trigger-2.jpg) no-repeat center center;
}

.center-w {
    text-align: center;
    width: 100%
}

.f {
    width: 12px;
    height: 12px;
    display: block;
    text-align: center;
    color: red;
    line-height: 60px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.bounc {
    position: relative;
    left: 50%;
    width: 59px;
    height: 42px;
    margin-left: -30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    animation: bounc 6s infinite;
    -webkit-animation: bounc 6s infinite;
    -moz-animation: bounc 6s infinite;
    -o-animation: bounc 6s infinite;
}

@-webkit-keyframes bounc {
    0%, 70%, 80%, 90%, 100% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(-15px);
    }
    95% {
        transform: translateY(-15px);
    }
}

@-moz-keyframes bounc {
    0%, 70%, 80%, 90%, 100% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(-15px);
    }
    95% {
        transform: translateY(-15px);
    }
}

@-o-keyframes bounc {
    0%, 70%, 80%, 90%, 100% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(-15px);
    }
    95% {
        transform: translateY(-15px);
    }
}

@keyframes bounc {
    0%, 70%, 80%, 90%, 100% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(-15px);
    }
    95% {
        transform: translateY(-15px);
    }
}

.ic {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.static {
    margin-top: 24px;
}

.new-a {
    color: #27547b !important;
}

.trig {
    margin: auto;
}

.tr-1 {
    padding-bottom: 20px
}

.tr-2 {
    padding-top: 20px !important
}

.no-focus:focus button {
    border: 0 white !important;
}

button {
    outline: 0 !important;
}

button:focus {
    -webkit-box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
}