body {
    margin: 0 !important;
}

#prc {
    margin: 24px 0;
}

#pricing {
    margin-bottom: 24px;
    margin-top: 24px;
}

.pricing {
    font: 500 16px Roboto, sans-serif !important;
    color: rgba(0, 0, 0, 0.66) !important;
    font-family: RobotoDraft, Roboto, sans-serif;
}

.pricing .header {
    background-color: #3f51b5;
    color: white;
    text-align: center;
    font-size: 24px;
}

.pricing-table ul {
    margin-left: auto;
    margin-right: auto;
}

.pricing .header .title {
    font-weight: bold;
    font-size: 1.2em;
}

.clmns * {
    box-sizing: border-box;
}

.clmns {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12);
}

.clmns {
    float: left;
    width: 256px !important;
}

.pricing .header .value {
    font-size: 1.7em;
}

.pricing li {
    border-bottom: 1px solid #e6e6e6;
    padding: 20px;
    text-align: left;
}

.pricing .item {
    padding: 14px 18px !important;
    font-size: 16px !important;
}

.pricing li {
    border-bottom: 1px solid #e6e6e6;
    padding: 20px;
    text-align: left;
}

.pricing .subheader {
    text-align: center;
    padding: 12px;
}

.bold {
    font-weight: bold;
}

label.price {
    margin-top: 16px;
    font-size: 20px;
}

.pricing {
    list-style-type: none;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background-color: white;
}

.pricing-table ul:first-child {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.pricing-table .base {
    margin-top: 0 !important;
}

.clmns {
    float: left;
    width: 256px !important;
}

.pricing .item {
    padding: 14px 18px !important;
    font-size: 16px !important;
}

@media (min-width: 584px) {
    .pricing-table ul:first-child {
        margin-right: 24px !important;
    }
}

button.cta-buy {
    font-weight: bold !important;
    width: 112px !important;
    height: 36px !important;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    position: relative;
    min-height: 36px;
    min-width: 88px;
    line-height: 36px;
    vertical-align: middle;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    text-align: center;
    border-radius: 2px;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    padding: 0 6px;
    margin: 6px 8px;
    white-space: nowrap;
    text-transform: uppercase;
    font-style: inherit;
    font-variant: inherit;
    font-family: inherit;
    text-decoration: none;
    overflow: hidden;
    -webkit-transition: box-shadow .4s cubic-bezier(.25, .8, .25, 1), background-color .4s cubic-bezier(.25, .8, .25, 1);
    transition: box-shadow .4s cubic-bezier(.25, .8, .25, 1), background-color .4s cubic-bezier(.25, .8, .25, 1);
    letter-spacing: .01em;
    color: white;
    border: 1px #ff8100 !important;
    background-color: #ff8100 !important;
    cursor: pointer !important;
    box-shadow: 0px 0px 1px 1px rgb(255, 129, 0), 0px 0px 1px 1px rgb(255, 129, 0), 0px 0px 1px 1px rgb(255, 129, 0);
}

button.cta-buy-inverse {
    font-weight: bold !important;
    width: 112px !important;
    height: 36px !important;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    position: relative;
    cursor: pointer;
    min-height: 36px;
    min-width: 88px;
    line-height: 36px;
    vertical-align: middle;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    text-align: center;
    border-radius: 2px;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    border: 0;
    padding: 0 6px;
    margin: 6px 8px;
    background: transparent;
    color: currentColor;
    white-space: nowrap;
    text-transform: uppercase;
    font-style: inherit;
    font-variant: inherit;
    font-family: inherit;
    text-decoration: none;
    overflow: hidden;
    -webkit-transition: box-shadow .4s cubic-bezier(.25, .8, .25, 1), background-color .4s cubic-bezier(.25, .8, .25, 1);
    transition: box-shadow .4s cubic-bezier(.25, .8, .25, 1), background-color .4s cubic-bezier(.25, .8, .25, 1);
    letter-spacing: .01em;
    color: #ff8100 !important;
    border: 1px #ff8100 !important;
    background-color: white !important;
    cursor: pointer !important;
    box-shadow: 0px 0px 1px 1px rgb(255, 129, 0), 0px 0px 1px 1px rgb(255, 129, 0), 0px 0px 1px 1px rgb(255, 129, 0);
}

.svg path {
    fill: #000 !important;
}

[class^="svg-"] {
    background: rgba(0, 0, 0, 0.54) !important;
    height: 24px;
    width: 24px;
}

.svg-update {
    -webkit-mask: url(/static/img/landing/ic_update_black_24px.svg) center / contain no-repeat;
}

.svg-people {
    -webkit-mask: url(/static/img/landing/ic_people_black_24px.svg) center / contain no-repeat;
}

.svg-favorite {
    -webkit-mask: url(/static/img/landing/ic_favorite_black_24px.svg) center / contain no-repeat;
}

.svg-comment {
    -webkit-mask: url(/static/img/landing/ic_comment_black_24px.svg) center / contain no-repeat;
}

.svg-question_answer {
    -webkit-mask: url(/static/img/landing/ic_question_answer_black_24px.svg) center / contain no-repeat;
}

.item {
    display: flex;
    font-weight: 100 !important;
}

.clmns {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12);
}

/*.item img {*/
/*margin-left: 20px;*/
/*margin-right: 10px;*/
/*}

-- OR -- */
.item img {
    margin-left: 16px;
    margin-right: 14px;
}

.item label {
    margin-top: 4px;
    font-weight: 500 !important;
}

.pricing li {
    padding: 19px;
}

select#months {
    width: 80px;
    background: white;
    color: rgba(0, 0, 0, 0.71) !important;
    position: relative;
    top: -2px;
    border: 0;
    font-size: 100%;
    font-weight: 100 !important;
}

label.price {
    position: relative;
    top: 4px;
}

li.header {
    padding: 19px 6px;
}

.pricing-table {
    max-width: 536px;
    margin: auto;
    overflow: auto;
    padding: 1px;
}

@media (max-width: 583px) {
    .pricing {
        margin: auto !important;
        float: inherit !important;
    }

    .pricing-table ul:first-child {
        margin-bottom: 24px !important;
    }
}

.pricing-table {
    /*display: flex;*/
}

label.login {
    float: right;
}

#snack-onlyone {
    visibility: hidden;
    min-width: 100%;
    background-color: #333;
    color: #fff;
    border-radius: 2px;
    padding: 16px 0;
    text-align: center;
    position: fixed;
    z-index: 1;
    font-size: 17px;
}

/*@media (max-width: 584px) {*/
    /*#snack-onlyone {*/
        /*visibility: hidden;*/
        /*width: 100%;*/
        /*!*margin-left: -125px;*!*/
        /*background-color: #333;*/
        /*color: #fff;*/
        /*text-align: center;*/
        /*border-radius: 2px;*/
        /*padding: 16px;*/
        /*position: fixed;*/
        /*z-index: 1;*/
        /*font-size: 17px;*/
        /*margin: 0;*/
        /*bottom: 0;*/
    /*}*/

    /*@-webkit-keyframes fadein {*/
        /*from {*/
            /*bottom: 0 !important;*/
            /*opacity: 0;*/
        /*}*/
        /*to {*/
            /*bottom: 0 !important;*/
            /*opacity: 1;*/
        /*}*/
    /*}*/

    /*@keyframes fadein {*/
        /*from {*/
            /*bottom: 0 !important;*/
            /*opacity: 0;*/
        /*}*/
        /*to {*/
            /*bottom: 0 !important;*/
            /*opacity: 1;*/
        /*}*/
    /*}*/

    /*@-webkit-keyframes fadeout {*/
        /*from {*/
            /*bottom: 0 !important;*/
            /*opacity: 1;*/
        /*}*/
        /*to {*/
            /*bottom: 0 !important;*/
            /*opacity: 0;*/
        /*}*/
    /*}*/

    /*@keyframes fadeout {*/
        /*from {*/
            /*bottom: 0 !important;*/
            /*opacity: 1;*/
        /*}*/
        /*to {*/
            /*bottom: 0 !important;*/
            /*opacity: 0;*/
        /*}*/
    /*}*/
/*}*/

#snack-onlyone.show {
    visibility: visible;
    -webkit-animation: fadein 4s, fadeout 2s 2s;
    animation: fadein 4s, fadeout 2s 2s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 0;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 0;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 0;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 0;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

select {
    cursor: pointer;
}