<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вход | uGram</title>

    {% load static %}

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Orion - Portal">
{#    <meta name="application-name" content="uGram {{ request.user.language }}">#}
    <meta http-equiv="cleartype" content="on">

    <link rel="stylesheet" href="{% static "angular-material/angular-material.css" %}">
    <link rel="stylesheet" href="{% static "css/signin.css" %}">

    <script src="{% static "angular/angular.min.js" %}"></script>
    <script src="{% static "angular-animate/angular-animate.min.js" %}"></script>
    <script src="{% static "angular-aria/angular-aria.min.js" %}"></script>
    <script src="{% static "angular-messages/angular-messages.min.js" %}"></script>
    <script src="{% static "angular-material/angular-material.min.js" %}"></script>

    <script src="{% static "js/auth.js" %}"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">

    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="//ugram.co/icons/apple-touch-icon-57x57.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="//ugram.co/icons/apple-touch-icon-114x114.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="//ugram.co/icons/apple-touch-icon-72x72.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="//ugram.co/icons/apple-touch-icon-144x144.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="//ugram.co/icons/apple-touch-icon-60x60.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="//ugram.co/icons/apple-touch-icon-120x120.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="//ugram.co/icons/apple-touch-icon-76x76.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="//ugram.co/icons/apple-touch-icon-152x152.png"/>
    <link rel="icon" type="image/png" href="//ugram.co/icons/favicon-196x196.png" sizes="196x196"/>
    <link rel="icon" type="image/png" href="//ugram.co/icons/favicon-96x96.png" sizes="96x96"/>
    <link rel="icon" type="image/png" href="//ugram.co/icons/favicon-32x32.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href="//ugram.co/icons/favicon-16x16.png" sizes="16x16"/>
    <link rel="icon" type="image/png" href="//ugram.co/icons/favicon-128.png" sizes="128x128"/>
        <meta name="application-name" content="&nbsp;"/>
    <meta name="msapplication-TileColor" content="#FFFFFF"/>
    <meta name="msapplication-TileImage" content="mstile-144x144.png"/>
    <meta name="msapplication-square70x70logo" content="mstile-70x70.png"/>
    <meta name="msapplication-square150x150logo" content="mstile-150x150.png"/>
    <meta name="msapplication-wide310x150logo" content="mstile-310x150.png"/>
    <meta name="msapplication-square310x310logo" content="mstile-310x310.png"/>
    <script>
        function subm() {
            return false;
        }
    </script>
    <script src="{% static "js/analytics.js" %}"></script>
</head>
<body ng-app="AuthApp" ng-controller="SignInCtrl" class="gr" layout="row" layout-align="center center">
<div md-whiteframe="9">
    <h1 class="logo">uGram</h1>
    <md-content layout-padding
                layout="row"
                class="inputdemoErrorsAdvanced"
                layout-align="center center">
        <form name="userForm" id="signInForm" method="post" action="/signin/">
            {% csrf_token %}
            <div layout-gt-sm="column">

                <md-input-container class="md-block" flex-gt-sm="">
                    <label>Емейл</label>
                    <input name="email" ng-model="user.email" required>

                    <div class="hint" ng-show="showHints"></div>

                    <div ng-messages="userForm.email.$error">
                        <div ng-message="required">
                            Обязательное
                        </div>
                    </div>
                </md-input-container>


                <md-input-container class="md-block" flex-gt-sm="" style="margin-top: 0">
                    <label>Пароль</label>
                    <input type="password" name="password" ng-model="user.password" required>

                    <div class="hint" ng-show="showHints"></div>

                    <div ng-messages="userForm.password.$error">
                        <div ng-message="required">
                            Обязательное
                        </div>
                    </div>
                </md-input-container>
                <div id="forgot" align="right">
                    <a id="forgot"
                       href="/change-password/password_reset/">Забыли?</a>
                </div>
                <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                    <label class="error">{{ Error }}</label>
                </section>
                <section>
                    <script>
                        function onSubmit(token) {
                            document.getElementById("signInForm").submit();
                        }
                    </script>

                </section>
                <div id="signup">
                    <label>Нет аккаунта? </label>
                    <a href="/signup/">Регистрация</a>
                </div>
                <!--TODO ng-disabled when form is invalid-->
                <section layout="row" layout-align="center center" layout-wrap>
                    <md-button type="submit" id="captcha" class="md-raised md-primary g-recaptcha"
                               data-sitekey="6LeUMxwUAAAAAHDNwNhjSPx5rp5nAQyiSRGos_HH"
                               data-callback='onSubmit'>Войти
                    </md-button>
                    <md-button class="md-raised" type="reser">Очистить</md-button>
                </section>

            </div>

        </form>
    </md-content>

</div>
</body>
</html>